

<div class="dropdown-container">
  <custom-button className="dropdown-button-icon"
    (onClick)="onClickIcon()"
    (onBlur)="onBlurIcon($event)"
    [iconName]="iconName"
    [isRounded]="true"
  >
  </custom-button>

  <div class="dropdown-items-container" [class.active]="isFocused" tabindex="1">
    <div class="dropdown-item" *ngFor="let item of items" (click)="selectItem(item)">
      <custom-icon
        *ngIf="item.iconName"
        className="dropdown-item-icon"
        size="lg"
        [name]="item.iconName">
      </custom-icon>
      {{ item.text }}
    </div>
  </div>
</div>
