<div [ngClass]="[prefix + '-calendar', className]">
  <div [ngClass]="prefix + '-calendar-header'">
    <div [ngClass]="prefix + '-calendar-year'">
      <materialize-button (onClick)="displayYears()">{{ selectedMonth.year }}</materialize-button>
    </div>
    <div [ngClass]="prefix + '-calendar-date'">
      <materialize-button (onClick)="showYears = false">
        {{ selectedDate.dayLabel.shortName }}, {{ selectedDate.monthLabel.shortName }} {{ selectedDate.date.getDate() }}
      </materialize-button>
    </div>
  </div>

  <div [ngClass]="prefix + '-calendar-body'">
    <ng-container *ngIf="!showYears">
      <div [ngClass]="prefix + '-calendar-controls'">
        <div [ngClass]="prefix + '-calendar-control'" materializeRipple (click)="showPrevMonth()">
          <materialize-icon>chevron_left</materialize-icon>
        </div>
        <div [ngClass]="prefix + '-calendar-month'">
          {{ selectedMonth.label.shortName }} {{ selectedMonth.year }}
        </div>
        <div [ngClass]="prefix + '-calendar-control'" materializeRipple (click)="showNextMonth()">
          <materialize-icon>chevron_right</materialize-icon>
        </div>
      </div>
      
      <table [ngClass]="prefix + '-calendar-table'">
        <thead>
          <tr>
            <td [ngClass]="prefix + '-calendar-day-name'" *ngFor="let day of dayLabels">{{ day.shortestName }}</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeks">
            <td *ngFor="let day of week">
              <div [ngClass]="prefix + '-calendar-day'"
                (click)="onSelectDay(day)"
                *ngIf="!day.isOutOfMonth || displayOtherMonthDays"
  
                [class.current]="day.isToday"
                [class.selected]="selectedDate.showSelected && selectedDate.ISODate === day.ISODate"
                [class.disabled]="day.isOutOfMonth"
  
                materializeRipple
                [rippleDuration]="800"
              >
                {{ day.date.getDate() }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    
    <div [ngClass]="prefix + '-calendar-years'"  #yearsContainer>
      <ng-container *ngIf="showYears">
        <div [ngClass]="prefix + '-calendar-year-option'"
          *ngFor="let year of years"

          (click)="onSelectYear(year)"
          [class.selected]="year === selectedMonth.year"

          materializeRipple
          [rippleDuration]="selectYearAnimationDuration"
        >
          {{ year }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
