.#{$prefix}-button.accent {
  background: $button-primary-background;
  border: $button-primary-border;
  border-radius: $button-primary-border-radius;
  box-shadow: $button-primary-box-shadow;
  color: $button-primary-color;
  cursor: $button-primary-cursor;
  display: $button-primary-display;
  font-family: $button-primary-font-family;
  font-size: $button-primary-font-size;
  font-weight: $button-primary-font-weight;
  height: $button-primary-height;
  margin: $button-primary-margin;
  outline: $button-primary-outline;
  padding: $button-primary-padding;
  -webkit-tap-highlight-color: $button-primary-tap-highlight-color;
  text-align: $button-primary-text-align;
  text-transform: $button-primary-text-transform;
  transition: $button-primary-transition;
  white-space: $button-primary-white-space;
  width: $button-primary-width;

  @media (hover: hover) {
    &:hover {
      background: $button-primary-hover-background;
    }
  }

  &.focused {
    background: $button-primary-focused-background;
  }

  &[disabled] {
    background: $button-primary-disabled-background;
    box-shadow: $button-primary-disabled-box-shadow;
    color: $button-primary-disabled-color;
    cursor: not-allowed;
  }

  .ripple {
    background: $button-primary-ripple-background;
  }
}

.#{$prefix}-button.outline {
  background: $button-outline-background;
  border: $button-outline-border;
  border-radius: $button-outline-border-radius;
  color: $button-outline-color;
  cursor: $button-outline-cursor;
  display: $button-outline-display;
  font-family: $button-outline-font-family;
  font-size: $button-outline-font-size;
  font-weight: $button-outline-font-weight;
  height: $button-outline-height;
  margin: $button-outline-margin;
  outline: $button-outline-outline;
  padding: $button-outline-padding;
  -webkit-tap-highlight-color: $button-outline-tap-highlight-color;
  text-align: $button-outline-text-align;
  text-transform: $button-outline-text-transform;
  transition: $button-outline-transition;
  white-space: $button-outline-white-space;
  width: $button-outline-width;

  @media (hover: hover) {
    &:hover {
      background: $button-outline-hover-background;
    }
  }

  &.focused {
    background: $button-outline-focused-background;
  }

  &[disabled] {
    background: $button-outline-disabled-background;
    border: $button-outline-disabled-border;
    color: $button-outline-disabled-color;
    cursor: not-allowed;
  }

  .ripple {
    background: $button-outline-ripple-background;
  }
}

.#{$prefix}-button.text {
  background: $button-text-background;
  border: $button-text-border;
  border-radius: $button-text-border-radius;
  color: $button-text-color;
  cursor: $button-text-cursor;
  display: $button-text-display;
  font-family: $button-text-font-family;
  font-size: $button-text-font-size;
  font-weight: $button-text-font-weight;
  height: $button-text-height;
  margin: $button-text-margin;
  outline: $button-text-outline;
  padding: $button-text-padding;
  -webkit-tap-highlight-color: $button-text-tap-highlight-color;
  text-align: $button-text-text-align;
  text-transform: $button-text-text-transform;
  transition: $button-text-transition;
  white-space: $button-text-white-space;
  width: $button-text-width;

  @media (hover: hover) {
    &:hover {
      background: $button-text-hover-background;
    }
  }

  &.focused {
    background: $button-text-focused-background;
  }

  &[disabled] {
    background: $button-text-disabled-background;
    color: $button-text-disabled-color;
    cursor: not-allowed;
  }

  .ripple {
    background: $button-text-ripple-background;
  }
}
