.#{$prefix}-checkbox {
  align-items: center;
  cursor: $materialize-checkbox-cursor;
  display: flex;
  flex-direction: row;
  outline: $materialize-checkbox-outline;
  padding: $materialize-checkbox-padding;
  -webkit-tap-highlight-color: $materialize-checkbox-tap-highlight-color;

  input[type='checkbox'] {
    display: none;
  }

  &:not(.disabled) {
    @media (hover: hover) {
      .#{$prefix}-checkbox-indicator:hover .#{$prefix}-checkbox-indicator-ripple {
        background: $materialize-checkbox-indicator-ripple-hover-inactive-background;
      }

      &.active .#{$prefix}-checkbox-indicator:hover .#{$prefix}-checkbox-indicator-ripple {
        background: $materialize-checkbox-indicator-ripple-hover-active-background;
      }
    }
  }

  &.active .#{$prefix}-checkbox-indicator::before {
    border-bottom: $materialize-checkbox-indicator-arrow-width solid $materialize-checkbox-indicator-arrow-color;
    border-left: $materialize-checkbox-indicator-arrow-width solid $materialize-checkbox-indicator-arrow-color;
  }

  &.active:not(.disabled) .#{$prefix}-checkbox-indicator {
    background: $materialize-checkbox-indicator-active-background;
    border: $materialize-checkbox-indicator-active-border;

    .ripple {
      background: $materialize-checkbox-ripple-active-background;
    }
  }

  &.focused:not(.disabled) {
    &.active .#{$prefix}-checkbox-indicator-ripple {
      background: $materialize-checkbox-indicator-ripple-focused-active-background;
    }

    .#{$prefix}-checkbox-indicator-ripple {
      background: $materialize-checkbox-indicator-ripple-focused-inactive-background;
    }
  }

  &.disabled {
    .#{$prefix}-checkbox-indicator {
      background: $materialize-checkbox-indicator-disabled-background;
      border: $materialize-checkbox-indicator-disabled-border;
      cursor: not-allowed;
    }

    &.active .#{$prefix}-checkbox-indicator {
      background: $materialize-checkbox-indicator-disabled-active-background;
    }
  }
}

.#{$prefix}-checkbox-label {
  color: $materialize-checkbox-label-color;
  flex: 1;
  font-family: $materialize-checkbox-label-font-family;
  font-size: $materialize-checkbox-label-font-size;
  font-weight: $materialize-checkbox-label-font-weight;
  padding: $materialize-checkbox-label-padding;
  text-align: $materialize-checkbox-label-text-align;
}

.#{$prefix}-checkbox-indicator-ripple {
  border-radius: $materialize-checkbox-indicator-ripple-border-radius;
  height: $materialize-checkbox-indicator-ripple-size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $materialize-checkbox-indicator-ripple-transition;
  width: $materialize-checkbox-indicator-ripple-size;
  z-index: $theme-zindex-1;

  .ripple {
    background: $materialize-checkbox-ripple-background;
  }
}

.#{$prefix}-checkbox-indicator {
  background: $materialize-checkbox-indicator-background;
  border: $materialize-checkbox-indicator-border;
  border-radius: $materialize-checkbox-indicator-border-radius;
  height: $materialize-checkbox-indicator-size;
  margin: $materialize-checkbox-indicator-margin;
  position: relative;
  width: $materialize-checkbox-indicator-size;

  &::before {
    content: '';
    height: $materialize-checkbox-indicator-arrow-size / 2;
    left: $materialize-checkbox-indicator-arrow-left;
    position: absolute;
    top: $materialize-checkbox-indicator-arrow-top;
    transform: rotate(-45deg);
    width: $materialize-checkbox-indicator-arrow-size;
  }
}

.#{$prefix}-checkbox.indeterminate .#{$prefix}-checkbox-indicator {
  background: $materialize-checkbox-indicator-active-background;
  border: $materialize-checkbox-indicator-active-border;

  &::before {
    border-bottom: $materialize-checkbox-indicator-indeterminate-border;
    height: $materialize-checkbox-indicator-indeterminate-height;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $materialize-checkbox-indicator-indeterminate-width;
  }
}

#{$prefix}-checkbox.ng-touched.ng-dirty.ng-invalid {
  .#{$prefix}-checkbox-indicator {
    border-color: map-get($theme-colors, 'danger');
  }

  .#{$prefix}-checkbox.focused .#{$prefix}-checkbox-indicator-ripple {
    background: rgba(map-get($theme-colors, 'danger'), 0.05);
  }

  @media (hover: hover) {
    .#{$prefix}-checkbox-indicator:hover .#{$prefix}-checkbox-indicator-ripple {
      background: rgba(map-get($theme-colors, 'danger'), 0.1);
    }
  }

  .ripple {
    background: rgba(map-get($theme-colors, 'danger'), 0.3);
  }
}
