.#{$prefix}-collapsible-content-container {
  max-height: 0;
  overflow: hidden;
  transition: $collapsible-content-transition;
}

.#{$prefix}-collapsible-content {
  background: $collapsible-content-background;
  color: $collapsible-content-color;
  cursor: $collapsible-content-cursor;
  font-family: $collapsible-content-font-family;
  font-size: $collapsible-content-font-size;
  font-weight: $collapsible-content-font-weight;
  margin: $collapsible-content-margin;
  overflow: visible;
  position: relative;

  &:not(:empty) {
    padding: $collapsible-title-padding;
  }
}
