.#{$prefix}-collapsible-title {
  background: $collapsible-title-background;
  color: $collapsible-title-color;
  cursor: $collapsible-title-cursor;
  font-family: $collapsible-title-font-family;
  font-size: $collapsible-title-font-size;
  font-weight: $collapsible-title-font-weight;
  margin: $collapsible-title-margin;
  padding: $collapsible-title-padding;
  position: relative;

  @media (hover: hover) {
    &:hover {
      background: $collapsible-title-hover-background;
    }
  }
}

.#{$prefix}-collapsible-title-icon {
  font-size: 22px;
  position: absolute;
  right: $space-xxxs;
  top: $space-xs;
  transition: transform 250ms ease;
}
