.date-picker-backdrop {
  background: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $theme-zindex-1;
}

.date-picker {
  position: relative;

  &.full-size {
    .date-picker-backdrop {
      background: rgba(map-get($theme-colors, 'black'), 0.4);
    }

    ::ng-deep .calendar-container {
      bottom: unset;
      left: 50%;
      margin-bottom: unset;
      position: fixed;
      right: unset;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  ::ng-deep {
    .form-control-suffix-container {
      padding-right: $theme-space-xxxs;
    }

    .calendar-button {
      background: unset;
      box-shadow: unset;
      color: map-get($theme-colors, 'black');
      padding: $theme-space-xs $theme-space-xxxs;

      &.focused {
        background: darken($materialize-color-gray-light, 5%);
      }

      &:hover {
        background: darken($materialize-color-gray-light, 10%);
      }

      &[disabled] {
        background: $materialize-color-gray-light;
      }

      .ripple {
        background: rgba(map-get($theme-colors, 'black'), 0.1);
      }
    }

    .calendar-container {
      bottom: 100%;
      margin-bottom: $theme-space-xs;
      position: absolute;
      right: $theme-space-xs;
      z-index: $theme-zindex-2;
    }
  }
}

:host.ng-touched.ng-dirty.ng-invalid ::ng-deep {
  @extend %form-control-error;
}
