.select-container {
  cursor: pointer;

  .form-control {
    position: relative;

    &::before {
      border-color: $color-gray-dark transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      content: '';
      position: absolute;
      right: $space-sm;
      top: 18px;
      transition: transform 250ms ease;
    }
  }

  &.float-label .form-control::before {
    top: 22px;
  }
}

.select-container.focused .form-control::before {
  transform: rotate(180deg);
}

.select-container.form-field-container.error {
  .form-control::before {
    border-top-color: $color-red;
  }

  .form-icon-error {
    right: $space-xxl;
  }
}

.select-menu {
  background: $color-white;
  box-shadow: $shadow-md;
  display: none;
  left: 0;
  margin-top: 1px;
  padding: $space-xs 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-level-2;

  &.open {
    display: block;
  }

  .select-option {
    color: $color-gray-dark;
    min-height: 48px;
    outline: none;
    padding: $space-md;

    &:hover {
      background-color: $color-gray-light;
    }

    &.active {
      background-color: rgba($color-purple, 0.1);
    }
  }
}
