.form-control[type='checkbox'] {
  display: none;

  &:checked + .form-label {
    &::before {
      background: $color-purple;
      border-color: $color-purple;
    }

    &::after {
      border-bottom: $border-md solid $color-white;
      border-left: $border-md solid $color-white;
      border-radius: 2px;
      content: '';
      height: 7px;
      left: 2px;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 13px;
    }
  }

  + .form-label {
    cursor: pointer;
    padding: $space-xxxs $space-xxxs $space-xxxs $space-xxxl;
    position: relative;

    &::before {
      background: $color-white;
      border: $border-md solid $color-gray-dark;
      border-radius: 2px;
      content: '';
      cursor: pointer;
      height: 18px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 18px;
    }
  }
}
