.form-error-message {
  color: $color-red;
  font-size: $font-size-xxs;
  left: 0;
  margin-top: $space-xs;
  padding-left: $space-sm;
  position: absolute;
  top: 100%;
}

.form-icon-error {
  animation: grow-element 100ms;
  color: $color-red;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: $zindex-level-1;
}
