.form-control-wrapper {
  background-color: $color-gray-light;
  border-bottom: $border-sm solid $color-gray-dark;
  border-radius: $radius-sm $radius-sm 0 0;
  display: flex;
  flex-direction: row;
  min-height: 42px;
  outline: none;
  position: relative;

  .form-control-prefix-container,
  .form-control-suffix-container {
    align-items: center;
    color: $color-black;
    display: flex;
    font-family: $font-family-primary;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    line-height: $font-size-xs;
  }

  .form-control-prefix-container {
    padding-left: $space-xs;
  }

  .form-control-suffix-container {
    padding-right: $space-xs;
  }

  .form-control-container {
    position: relative;
    width: 100%;
  }

  .form-control-input {
    background-color: transparent;
    border: 0;
    color: $color-black;
    font-family: $font-family-primary;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    height: 100%;
    max-width: 100%;
    outline: none;
    padding: $space-sm;
    resize: vertical;
    width: 100%;

    &.form-control-text-left {
      text-align: left;
    }

    &.form-control-text-right {
      text-align: right;
    }
  }
}

.form-field-container {
  outline: none;
  position: relative;

  &::after {
    background-color: $color-purple;
    bottom: 0;
    content: '';
    height: $border-md;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: 250ms ease width;
    width: 0;
    z-index: $zindex-level-1;
  }

  &.float-label {
    &.focused .form-float-label,
    &.active .form-float-label {
      font-size: $font-size-xxxs;
      top: $space-xs;
    }

    &.focused .form-float-label {
      color: $color-purple;
    }

    &.error {
      .form-icon-error {
        top: 15px;
      }

      .form-float-label {
        color: $color-red;
      }
    }

    .form-control-input {
      min-height: 50px;
      padding-top: $space-lg;
    }
  }

  &.focused {
    &::after {
      width: 100%;
    }

    .form-label {
      color: $color-purple;
    }

    .form-control-input {
      caret-color: $color-purple;
    }
  }

  &.error {
    &::after {
      background-color: $color-red;
      width: 100%;
    }

    .form-label {
      color: $color-red;
    }

    .form-control-input {
      caret-color: $color-red;
      padding-right: 48px;
    }
  }

  &.disabled {
    .form-control-wrapper {
      border-bottom-color: $color-gray-light;
      cursor: not-allowed;
    }

    .form-label,
    .form-float-label,
    .form-control-input {
      color: $color-gray;
    }

    .form-control-input {
      cursor: not-allowed;
    }
  }
}
