.form-message-counter {
  font-size: $font-size-xxs;
  margin-top: $space-xs;
  position: absolute;
  right: 0;
  top: 100%;
}

.form-icon-error {
  animation: grow-element 100ms;
  color: $color-red;
  position: absolute;
  right: $space-sm;
  top: 10px;
  z-index: $zindex-level-1;
}
