.#{$prefix}-form-message {
  &.error {
    color: $form-message-error-color;
    font-family: $form-message-error-font-family;
    font-size: $form-message-error-font-size;
    font-weight: $form-message-error-font-weight;
    letter-spacing: $form-message-error-letter-spacing;
    line-height: $form-message-error-line-height;
    margin: $form-message-error-margin;
    padding: $form-message-error-padding;
    text-align: $form-message-error-text-align;
  }

  &.info {
    color: $form-message-info-color;
    font-family: $form-message-info-font-family;
    font-size: $form-message-info-font-size;
    font-weight: $form-message-info-font-weight;
    letter-spacing: $form-message-info-letter-spacing;
    line-height: $form-message-info-line-height;
    margin: $form-message-info-margin;
    padding: $form-message-info-padding;
    text-align: $form-message-info-text-align;
  }

  &.success {
    color: $form-message-success-color;
    font-family: $form-message-success-font-family;
    font-size: $form-message-success-font-size;
    font-weight: $form-message-success-font-weight;
    letter-spacing: $form-message-success-letter-spacing;
    line-height: $form-message-success-line-height;
    margin: $form-message-success-margin;
    padding: $form-message-success-padding;
    text-align: $form-message-success-text-align;
  }

  &.warning {
    color: $form-message-warning-color;
    font-family: $form-message-warning-font-family;
    font-size: $form-message-warning-font-size;
    font-weight: $form-message-warning-font-weight;
    letter-spacing: $form-message-warning-letter-spacing;
    line-height: $form-message-warning-line-height;
    margin: $form-message-warning-margin;
    padding: $form-message-warning-padding;
    text-align: $form-message-warning-text-align;
  }
}
