.form-group-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $space-sm $space-sm $space-xxxl $space-sm;

  .form-group-icon-container {
    margin-right: $space-sm;

    .icon {
      color: $color-gray-dark;
    }
  }

  .form-group-field-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.form-control-wrapper {
  position: relative;
}

.form-label {
  color: $color-gray-dark;
  display: block;
  font-size: $font-size-xxxs;
  margin-bottom: $space-xs;
  padding-left: $space-sm;
}

.form-control {
  align-items: center;
  background-color: $color-gray-light;
  border: 0;
  border-bottom: $border-sm solid $color-gray-dark;
  border-radius: $radius-sm $radius-sm 0 0;
  color: $color-black;
  display: flex;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  line-height: $font-size-xs;
  max-width: 100%;
  min-height: 42px;
  outline: none;
  padding: $space-sm $space-sm;
  resize: vertical;
  width: 100%;
}

.form-error-message {
  color: $color-red;
  font-size: $font-size-xxs;
  left: 0;
  margin-top: $space-xs;
  padding-left: $space-sm;
  position: absolute;
  top: 100%;
}

.form-field-container {
  outline: none;
  position: relative;

  &::after {
    background-color: $color-purple;
    bottom: 0;
    content: '';
    height: $border-md;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: 250ms ease width;
    width: 0;
    z-index: $zindex-level-1;
  }
}

.form-field-container.float-label {
  .form-label {
    color: $color-gray-dark;
    font-size: $font-size-xs;
    position: absolute;
    top: 18px;
    transition: 250ms ease all;
    z-index: $zindex-level-1;
  }

  .form-control {
    min-height: 50px;
    padding-top: $space-lg;
  }
}

.form-field-container.focused {
  &.float-label .form-label {
    font-size: $font-size-xxxs;
    top: $space-xs;
  }

  .form-label {
    color: $color-purple;
  }

  &::after {
    width: 100%;
  }
}

.form-field-container.active.float-label .form-label {
  font-size: $font-size-xxxs;
  top: $space-xs;
}

.form-field-container.disabled {
  .form-label,
  .form-control {
    color: $color-gray;
  }

  .form-control {
    border-bottom-color: $color-gray-light;
    cursor: not-allowed;
  }
}

.form-field-container.error {
  .form-label {
    color: $color-red;
  }

  .form-control {
    padding-right: 48px;
  }

  &::after {
    background-color: $color-red;
    width: 100%;
  }
}

.form-icon-error {
  animation: grow-element 100ms;
  color: $color-red;
  position: absolute;
  right: $space-sm;
  top: 9px;
  z-index: $zindex-level-1;
}

.form-field-container.error.float-label .form-icon-error {
  top: 12px;
}
