.form-file-container {
  position: relative;

  input[type='file'] {
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.disabled input[type='file'] {
    cursor: not-allowed;
  }
}

.form-file-files-container {
  display: flex;
  flex-direction: row;
  max-height: 40px;

  .form-file-files-item {
    max-width: $space-xxxl;
  }

  .form-file-files-item-image img {
    max-height: 100%;
    max-width: 100%;
  }
}
