.form-field-container.select-container {
  cursor: pointer;

  .form-control-input {
    position: relative;

    &::before {
      border-color: $color-gray-dark transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      content: '';
      position: absolute;
      right: $space-sm;
      top: 18px;
      transition: transform 250ms ease;
    }
  }

  &.float-label {
    .form-float-label {
      cursor: pointer;
    }

    .form-control-input::before {
      top: 22px;
    }
  }

  &.focused .form-control-input::before {
    transform: rotate(180deg);
  }

  &.error {
    .form-control-input::before {
      border-top-color: $color-red;
    }

    .form-icon-error {
      right: $space-xxl;
    }
  }
}

.select-menu {
  background: $color-white;
  box-shadow: $shadow-md;
  cursor: pointer;
  display: none;
  left: 0;
  padding: $space-xs 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-level-2;

  &.open {
    display: block;
  }

  .select-option {
    color: $color-gray-dark;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    outline: none;
    padding: $space-md $space-sm;

    &:hover {
      background-color: $color-gray-light;
    }

    &.active {
      background-color: rgba($color-purple, 0.1);
    }
  }
}
