.#{$prefix}-form-control-container {
  background: $form-control-container-background;
  border-color: $form-control-container-border-color;
  border-radius: $form-control-container-border-radius;
  border-style: $form-control-container-border-style;
  border-width: $form-control-container-border-width;
  display: flex;
  flex-direction: row;
  margin: $form-control-container-margin;
  outline: $form-control-container-outiline;
  position: relative;

  &::after {
    background: $form-control-container-line-color;
    bottom: $form-control-container-line-bottom;
    content: '';
    height: $form-control-container-line-height;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: $form-control-container-line-transition;
    width: $form-control-container-line-width;
    z-index: $form-control-container-line-z-index;
  }

  &.float-label .#{$prefix}-form-control {
    padding-top: $form-control-with-label-padding-top;
  }

  &.active .#{$prefix}-form-control-label,
  &.focused .#{$prefix}-form-control-label {
    font-size: $form-control-active-label-font-size;
    top: $form-control-active-label-top;
    transform: unset;
  }

  &.focused {
    &::after {
      width: $form-control-focused-container-line-width;
    }

    .#{$prefix}-form-control-label {
      color: $form-control-focused-label-color;
    }
  }

  &.disabled {
    background: $form-control-disabled-container-backgorund;
    border-color: $form-control-disabled-container-border-color;

    .#{$prefix}-form-control,
    .#{$prefix}-form-control-label {
      cursor: not-allowed;
    }

    .#{$prefix}-form-control {
      color: $form-control-disabled-color;
    }

    .#{$prefix}-form-control-label {
      color: $form-control-disabled-label-color;
    }
  }
}

.#{$prefix}-form-control-wrapper {
  position: relative;
  width: 100%;
}

.#{$prefix}-form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  caret-color: $form-control-caret-color;
  color: $form-control-color;
  font-family: $form-control-font-family;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  height: 100%;
  letter-spacing: $form-control-letter-spacing;
  line-height: $form-control-line-height;
  max-width: 100%;
  outline: none;
  padding: $form-control-padding;
  resize: vertical;
  white-space: nowrap;
  width: 100%;

  &::placeholder {
    color: $form-control-placeholder-color;
    font-weight: $form-control-placeholder-font-weight;
  }
}

.#{$prefix}-form-control-label {
  background: $form-control-label-background;
  color: $form-control-label-color;
  cursor: text;
  font-family: $form-control-label-font-family;
  font-size: $form-control-label-font-size;
  font-weight: $form-control-label-font-weight;
  left: 0;
  letter-spacing: $form-control-label-letter-spacing;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: $form-control-label-transition-duration;
  transition-property: $form-control-label-transition-property;
  transition-timing-function: $form-control-label-transition-function;
  width: 100%;

  &:not(:empty) {
    padding: $form-control-label-padding;
  }
}

.#{$prefix}-form-control-prefix,
.#{$prefix}-form-control-suffix {
  align-items: center;
  color: $form-control-color;
  display: flex;
  font-family: $form-control-font-family;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  letter-spacing: $form-control-letter-spacing;
  line-height: $form-control-line-height;
  white-space: nowrap;
}

.#{$prefix}-form-control-prefix:not(:empty) {
  padding-left: $space-sm;
}

.#{$prefix}-form-control-suffix:not(:empty) {
  padding-right: $space-sm;
}
