.#{$prefix}-html-visualizer {
  background: #F8F8FA;
  border-radius: 5px;
  color: #005CC5;
  font-family: $theme-font-family-secondary;
  font-size: 14px;
  font-weight: $theme-font-weight-regular;
  line-height: 18px;
  margin: $theme-space-xs 0;
  padding: $theme-space-sm;
}

.#{$prefix}-html-visualizer-content {
  overflow-x: auto;
  white-space: pre;
}

.#{$prefix}-html-visualizer-attribute {
  color: #6F42C1;
}

.#{$prefix}-html-visualizer-value {
  color: #032F62;
}

.#{$prefix}-html-visualizer-symbol {
  color: #032F62;
}
