.#{$prefix}-icon {
  color: $icon-color;
  cursor: $icon-cursor;
  display: $icon-display;
  font-family: $icon-font-family;
  outline: $icon-outline;
  text-transform: $icon-text-transform;
}

.#{$prefix}-icon-xl {
  font-size: $icon-xl;
}

.#{$prefix}-icon-lg {
  font-size: $icon-lg;
}

.#{$prefix}-icon-md {
  font-size: $icon-md;
}

.#{$prefix}-icon-sm {
  font-size: $icon-sm;
}

.#{$prefix}-icon-xs {
  font-size: $icon-xs;
}

@font-face {
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$materialize-fonts-path}/material-icons/material-icons.woff2');
}
