.#{$prefix}-label {
  color: $materialize-label-color;
  display: $materialize-label-display;
  font-family: $materialize-label-font-family;
  font-size: $materialize-label-font-size;
  font-weight: $materialize-label-font-weight;
  margin: $materialize-label-margin;
  outline: $materialize-label-outline;
  padding: $materialize-label-padding;
}
