.#{$prefix}-label {
  color: $label-color;
  display: $label-display;
  font-family: $label-font-family;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  margin: $label-margin;
  outline: $label-outline;
  padding: $label-padding;
}
