.list-item {
  align-items: center;
  border-radius: $materialize-radius-md;
  color: $materialize-color-gray-dark;
  cursor: pointer;
  display: flex;
  font-family: $materialize-font-family-primary;
  font-size: 16px;
  font-weight: $materialize-font-weight-regular;
  margin-bottom: $materialize-space-xxxs;
  padding: $materialize-space-md $materialize-space-lg;
  transition-duration: 250ms;
  transition-property: background, color;
  transition-timing-function: ease;

  &:hover {
    background-color: lighten($materialize-color-purple, 50%);
    color: $materialize-color-purple;
  }

  &.active {
    background-color: lighten($materialize-color-purple, 40%);
    color: $materialize-color-purple;
    font-weight: $materialize-font-weight-medium;
  }

  .ripple {
    background-color: rgba($materialize-color-purple, 0.15);
  }
}

.list {
  list-style: none;
  padding: $materialize-space-md $materialize-space-xs;

  > *:last-child {
    margin-bottom: 0;
  }
}
