#{$prefix}-radio-group.ng-touched.ng-dirty.ng-invalid .#{$prefix}-radio {
  .#{$prefix}-radio-indicator {
    border-color: $color-red;
  }

  &.focused .#{$prefix}-radio-indicator-ripple {
    background-color: rgba($color-red, 0.1);
  }

  .ripple {
    background-color: rgba($color-red, 0.3);
  }

  &:not(.disabled) {
    @media (hover: hover) {
      .#{$prefix}-radio-indicator:hover .#{$prefix}-radio-indicator-ripple {
        background-color: rgba($color-red, 0.2);
      }
    }
  }
}
