.#{$prefix}-radio {
  outline: $radio-outline;
  padding: $radio-padding;

  input[type='radio'] {
    display: none;
  }

  &:not(.disabled) {
    @media (hover: hover) {
      .#{$prefix}-radio-indicator:hover .#{$prefix}-radio-indicator-ripple {
        background-color: rgba($color-gray-dark, 0.2);
      }

      &.active .#{$prefix}-radio-indicator:hover .#{$prefix}-radio-indicator-ripple {
        background-color: rgba($radio-indicator-ripple-background, 0.2);
      }
    }
  }

  &.focused:not(.disabled) {
    .#{$prefix}-radio-indicator-ripple {
      background-color: rgba($color-gray-dark, 0.1);
    }

    &.active .#{$prefix}-radio-indicator-ripple {
      background-color: rgba($radio-indicator-ripple-background, 0.1);
    }
  }

  &.active:not(.disabled) {
    .ripple {
      background-color: rgba($radio-indicator-ripple-background, 0.3);
    }

    .#{$prefix}-radio-indicator {
      border-color: $color-purple;

      &::before {
        height: 10px;
        width: 10px;
      }
    }
  }

  &.disabled .#{$prefix}-radio-indicator {
    border-color: $color-gray;

    &::before {
      background-color: $color-gray;
    }
  }
}

.#{$prefix}-radio-label {
  color: $radio-label-color;
  cursor: $radio-label-cursor;
  display: $radio-label-display;
  font-family: $radio-label-font-family;
  font-size: $radio-label-font-size;
  font-weight: $radio-label-font-weight;
  vertical-align: $radio-label-vertical-align;
}

.#{$prefix}-radio-indicator {
  border: $radio-indicator-border;
  border-radius: $radio-indicator-border-radius;
  cursor: $radio-indicator-cursor;
  display: $radio-indicator-display;
  height: $radio-indicator-size;
  margin: $radio-indicator-margin;
  outline: $radio-indicator-outline;
  position: $radio-indicator-position;
  -webkit-tap-highlight-color: $radio-indicator-tap-highlight-color;
  vertical-align: $radio-indicator-vertical-align;
  width: $radio-indicator-size;

  &::before {
    background-color: $color-purple;
    border-radius: $radio-indicator-border-radius;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: height, width;
    transition-timing-function: ease;
    width: 0;
  }
}

.#{$prefix}-radio-indicator-ripple {
  border-radius: $radio-indicator-border-radius;
  height: $radio-indicator-ripple-size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 250ms ease;
  width: $radio-indicator-ripple-size;
  z-index: $zindex-level-1;
}
