.#{$prefix}-radio {
  align-items: center;
  cursor: $radio-cursor;
  display: flex;
  flex-direction: row;
  outline: $radio-outline;
  padding: $radio-padding;

  input[type='radio'] {
    display: none;
  }

  &:not(.disabled) {
    @media (hover: hover) {
      .#{$prefix}-radio-indicator:hover .#{$prefix}-radio-indicator-ripple {
        background: rgba($radio-indicator-disabled-color, 0.2);
      }

      &.active .#{$prefix}-radio-indicator:hover .#{$prefix}-radio-indicator-ripple {
        background: rgba($radio-indicator-ripple-background, 0.2);
      }
    }
  }

  &.focused:not(.disabled) {
    .#{$prefix}-radio-indicator-ripple {
      background: rgba($radio-indicator-ripple-background, 0.1);
    }

    &.active .#{$prefix}-radio-indicator-ripple {
      background: rgba($radio-indicator-ripple-background, 0.1);
    }
  }

  &.active:not(.disabled) {
    .ripple {
      background: rgba($radio-indicator-ripple-background, 0.3);
    }

    .#{$prefix}-radio-indicator {
      border-color: $radio-indicator-active-border-color;

      &::before {
        height: $radio-indicator-active-size;
        width: $radio-indicator-active-size;
      }
    }
  }

  &.disabled .#{$prefix}-radio-indicator {
    border-color: $radio-indicator-disabled-color;
    cursor: not-allowed;

    &::before {
      background: $radio-indicator-disabled-color;
    }
  }
}

.#{$prefix}-radio-label {
  color: $radio-label-color;
  flex: 1;
  font-family: $radio-label-font-family;
  font-size: $radio-label-font-size;
  font-weight: $radio-label-font-weight;
  padding: $radio-label-padding;
  text-align: $radio-label-text-align;
}

.#{$prefix}-radio-indicator {
  border: $radio-indicator-border;
  border-radius: $radio-indicator-border-radius;
  display: $radio-indicator-display;
  height: $radio-indicator-size;
  margin: $radio-indicator-margin;
  outline: $radio-indicator-outline;
  position: $radio-indicator-position;
  -webkit-tap-highlight-color: $radio-indicator-tap-highlight-color;
  width: $radio-indicator-size;

  &::before {
    background: $radio-indicator-active-background;
    border-radius: $radio-indicator-border-radius;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: height, width;
    transition-timing-function: ease;
    width: 0;
  }
}

.#{$prefix}-radio-indicator-ripple {
  border-radius: $radio-indicator-border-radius;
  height: $radio-indicator-ripple-size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $radio-indicator-ripple-transition;
  width: $radio-indicator-ripple-size;
  z-index: $zindex-level-1;

  .ripple {
    background: rgba($radio-indicator-ripple-background, 0.3);
  }
}
