.ripple-element {
  cursor: pointer;
  -webkit-mask-image: -webkit-radial-gradient($color-black, $color-white);
  overflow: hidden;
  position: relative;

  &.ripple-disabled {
    cursor: unset;
  }
}

.ripple {
  background-color: rgba($color-black, 0.1);
  border-radius: $radius-full;
  position: absolute;
  transform: scale(0);
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
}
