.ripple-element {
  -webkit-mask-image: -webkit-radial-gradient(map-get($theme-colors, 'black'), map-get($theme-colors, 'white'));
  overflow: hidden;
  position: relative;

  &:not(.ripple-disabled) {
    cursor: pointer;
  }
}

.ripple {
  background: rgba(map-get($theme-colors, 'black'), 0.1);
  border-radius: $theme-radius-full;
  position: absolute;
  transform: scale(0);
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
}
