.#{$prefix}-select-option {
  color: $select-option-color;
  font-family: $select-option-font-family;
  font-size: $select-option-font-size;
  font-weight: $select-option-font-weight;
  outline: $select-option-outline;
  padding: $select-option-padding;

  &:hover {
    background-color: $select-option-active-background;
  }

  &.active {
    background-color: $select-option-hover-background;
  }
}
