.#{$prefix}-slider-option-container {
  color: $slider-option-color;
  font-family: $slider-option-font-family;
  font-size: $slider-option-font-size;
  font-weight: $slider-option-font-weight;
  height: $slider-option-height;
  left: $slider-option-left;
  position: $slider-option-position;
  text-align: $slider-option-text-align;
  text-transform: $slider-option-text-transform;
  top: $slider-option-top;
  transform: $slider-option-transform;
  transition: $slider-option-transition;
  width: $slider-option-width;

  &.active {
    font-size: $slider-option-active-font-size;
    font-weight: $slider-option-active-font-weight;
  }
}
