.#{$prefix}-slider-container {
  padding: $slider-padding;
  -webkit-tap-highlight-color: $slider-tap-highlight-color;
  width: $slider-width;

  &.disabled {
    .#{$prefix}-slider-track {
      background-color: $slider-disabled-track-background;
    }

    .#{$prefix}-slider-step {
      background-color: $slider-disabled-step-background;
    }
  }
}

.#{$prefix}-slider-track-container {
  cursor: $slider-track-container-cursor;
  outline: $slider-track-container-outline;
  padding: $slider-track-container-padding;
  position: $slider-track-container-position;
  width: $slider-track-container-width;
}

.#{$prefix}-slider-step {
  background: $slider-step-background;
  height: $slider-step-height;
  position: $slider-step-position;
  top: $slider-step-top;
  transform: $slider-step-transform;
  width: $slider-step-width;
}

.#{$prefix}-slider-track {
  background: $slider-track-background;
  border-radius: $slider-track-border-radius;
  height: $slider-track-height;
  overflow: $slider-track-overflow;
  position: $slider-track-position;
  width: $slider-track-width;
}

.#{$prefix}-slider-indicator-container {
  left: $slider-indicator-container-left;
  position: $slider-indicator-container-position;
  top: $slider-indicator-container-top;
  transform: $slider-indicator-container-transform;
  transition: $slider-indicator-container-transition;
  z-index: $slider-indicator-container-z-index;
}

.#{$prefix}-slider-labels-container {
  position: $slider-labels-container-position;
  width: $slider-labels-container-width;
}

#{$prefix}-slider.ng-touched.ng-dirty.ng-invalid {
  .#{$prefix}-slider-track {
    background: $slider-invalid-track-background;
  }

  .#{$prefix}-slider-step {
    background: $slider-invalid-step-background;
  }
}
