.#{$prefix}-stepper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: $stepper-margin;
  padding: $stepper-padding;
}

.#{$prefix}-step-divider {
  background: $stepper-divider-background;
  height: $stepper-divider-height;
  margin: $stepper-divider-margin;
  width: $stepper-divider-width;
}

.#{$prefix}-step-indicator {
  align-items: center;
  background: $stepper-indicator-background;
  border-radius: $stepper-indicator-border-radius;
  color: $stepper-indicator-color;
  display: flex;
  font-family: $stepper-indicator-font-family;
  font-size: $stepper-indicator-font-size;
  font-weight: $stepper-indicator-font-weight;
  height: $stepper-indicator-size;
  justify-content: center;
  margin: $stepper-indicator-margin;
  width: $stepper-indicator-size;
}

.#{$prefix}-step-indicator-icon {
  color: $stepper-indicator-icon-color;
  display: flex;
  font-size: $stepper-indicator-icon-size;
}

.#{$prefix}-step-label {
  color: $stepper-label-color;
  font-family: $stepper-label-font-family;
  font-size: $stepper-label-font-size;
  font-weight: $stepper-label-font-weight;
}

.#{$prefix}-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $step-padding;
  white-space: nowrap;

  &.active {
    .#{$prefix}-step-indicator {
      background: $step-active-indicator-background;
      color: $step-active-indicator-color;
      font-weight: $step-active-indicator-font-weight;
    }
  }

  &.completed {
    .#{$prefix}-step-indicator {
      background: $step-completed-indicator-background;
      color: $step-completed-indicator-color;
    }
  }
}
