@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.form-group-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.form-group-icon-container {
  display: flex;
  justify-content: center;
  width: 40px;
}

.form-group-icon {
  color: map-get($theme-colors, 'gray-40');
}

.form-group-field-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
