@import '../../../styles/theme/colors.scss';
@import '../../../styles/theme/fonts.scss';
@import '../../../styles/theme/metrics.scss';

.form-error {
  color: $color-red;
  font-size: $font-size-xxs;
  left: 0;
  margin-top: $space-xs;
  padding-left: $space-sm;
  position: absolute;
  top: 100%;
}
