<div class="form-checkbox-container" [ngClass]="className">
  <div class="form-checkbox-control"
    tabindex="0"

    (click)="toggleValue()"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"  

    [class.active]="value"
    [class.indeterminate]="indeterminate"
    [class.disabled]="disabled"
    [class.error]="!isValid && isTouched">
    <input
      type="checkbox"
      [disabled]="disabled"
      [id]="id"
      [name]="name"
      [required]="required"
      [checked]="value"
      [indeterminate]="indeterminate"
      [value]="value"
    />
  </div>
  <materialize-label className="form-checkbox-label">{{ label }}</materialize-label>

  <materialize-form-message type="error" *ngIf="!isValid && isTouched">{{ errorMessage }}</materialize-form-message>
</div>
  