@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';
@import '../../../styles/variables.scss';

.form-checkbox-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $space-sm 0;
  position: relative;

  input[type='checkbox'] {
    display: none;
  }
}

.form-checkbox-label-container {
  color: $color-black;
  font-family: $materialize-font-family;
  font-size: 16px;
  font-weight: $font-weight-regular;
}

.form-checkbox-control-ripple {
  border-radius: $radius-full;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 300ms ease;
  width: 40px;
  z-index: $zindex-level-1;
}

.form-checkbox-control {
  background: $color-white;
  border: $border-md solid $color-gray-dark;
  border-radius: $radius-xs;
  cursor: pointer;
  height: 18px;
  margin: 0 $space-sm;
  outline: none;
  position: relative;
  width: 18px;

  &::before {
    content: '';
    left: 0;
    position: absolute;
    width: 13px;
  }
}

.form-checkbox-control.active {
  background: $color-purple;
  border-color: $color-purple;

  &::before {
    border-bottom: $border-md solid $color-white;
    border-left: $border-md solid $color-white;
    height: 7px;
    margin-top: -2px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .form-checkbox-control-ripple ::ng-deep .ripple {
    background-color: rgba($color-purple, 0.3);
  }
}

.form-checkbox-control.indeterminate {
  background: $color-purple;
  border-color: $color-purple;

  &::before {
    border-bottom: $border-md solid $color-white;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-checkbox-control:hover:not(.disabled) {
  &.active .form-checkbox-control-ripple {
    background-color: rgba($color-purple, 0.1);
  }

  .form-checkbox-control-ripple {
    background-color: rgba($color-gray-dark, 0.1);
  }
}

.form-checkbox-control.focused:not(.disabled) {
  &.active .form-checkbox-control-ripple {
    background-color: rgba($color-purple, 0.3);
  }

  .form-checkbox-control-ripple {
    background-color: rgba($color-gray-dark, 0.3);
  }
}

.form-checkbox-control.disabled {
  border-color: lighten($color-gray-dark, 30%);
  cursor: not-allowed;

  &.active,
  &.indeterminate {
    background-color: lighten($color-gray-dark, 30%);
  }

  .ripple-element {
    cursor: not-allowed;
  }
}

:host.ng-touched.ng-dirty.ng-invalid .form-checkbox-control {
  border-color: $color-red;

  &:hover .form-checkbox-control-ripple {
    background-color: rgba($color-red, 0.1);
  }

  .form-checkbox-control-ripple ::ng-deep .ripple {
    background-color: rgba($color-red, 0.3);
  }
}
