<div class="form-checkbox-container" [ngClass]="className">
  <div class="form-checkbox-control"
    (click)="toggleValue()"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"  

    [class.active]="value"
    [class.focused]="isFocused"
    [class.indeterminate]="indeterminate && !value"
    [class.disabled]="disabled"

    [tabindex]="disabled ? '-1': '0'">
    <div class="form-checkbox-control-ripple" materializeRipple [isRippleActive]="!disabled" [rippleDuration]="200"></div>
    <input
      type="checkbox"
      [disabled]="disabled"
      [id]="id"
      [name]="name"
      [required]="required"
      [checked]="value"
      [indeterminate]="indeterminate"
      [value]="value"
    />
  </div>
  <div class="form-checkbox-label-container">
    <ng-content></ng-content>
  </div>
</div>
  