<custom-navbar
  titleIconName="person"
  title="Contacts"
  [options]="navbarOptions"
>
navbar content
</custom-navbar>

<custom-input iconName="person" label="Name"></custom-input>
<custom-input iconName="phone" label="Phone" placeholder="+1 412 000 0000"></custom-input>

<custom-checkbox label="House phone"></custom-checkbox>
<custom-checkbox label="House phone"></custom-checkbox>
<custom-checkbox label="House phone"></custom-checkbox>

<custom-input iconName="email" label="Email" [disabled]="true"></custom-input>

<custom-input iconName="person" label="Name" [floatLabel]="false"></custom-input>

<custom-textarea iconName="message" label="Message"></custom-textarea>
<custom-textarea iconName="message" label="Message" [floatLabel]="false"></custom-textarea>


