<custom-navbar
  title="Contacts"
  [options]="navbarOptions"
>
</custom-navbar>

<custom-input iconName="person" label="Name"></custom-input>
<custom-input iconName="phone" label="Phone"></custom-input>
<custom-input iconName="email" label="Email"></custom-input>

<custom-input iconName="person" label="Name" [floatLabel]="false"></custom-input>

<custom-textarea iconName="message" label="Message"></custom-textarea>
<custom-textarea iconName="message" label="Message" [floatLabel]="false"></custom-textarea>
