<div class="form-radio-container" [ngClass]="className">
  <materialize-label>{{ label }}</materialize-label>

  <div class="form-radio-control" *ngFor="let option of options; index as i">
    <div class="form-radio-indicator"
      tabindex="0"

      (click)="onChange(option.value)"
      (blur)="onBlur($event)"

      [class.active]="value === option.value"
      [class.disabled]="disabled"
      [class.focused]="isFocused"
      [class.error]="!isValid && isTouched">
    </div>

    <materialize-label className="form-radio-label">{{ label }}</materialize-label>

    <input type="radio"
      [checked]="value === option.value"
      [disabled]="disabled"
      [id]="id + '-' + i"
      [name]="name"
      [required]="required"
      [value]= "option.value" />
  </div>

  <materialize-form-message type="error" *ngIf="!isValid && isTouched">{{ errorMessage }}</materialize-form-message>
</div>
