@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';
@import '../../../styles/variables.scss';

.form-radio-label-container {
  color: $color-black;
  font-family: $materialize-font-family;
  font-size: 16px;
  font-weight: $font-weight-regular;
}

.form-radio-control {
  align-items: center;
  display: flex;
  flex-direction: row;
  outline: none;
  padding: $space-xs 0;
  position: relative;

  input[type='radio'] {
    display: none;
  }
}

.form-radio-indicator {
  border: $border-md solid $color-gray-dark;
  border-radius: $radius-full;
  cursor: pointer;
  height: 20px;
  margin: 0 $space-sm;
  outline: none;
  position: relative;
  width: 20px;

  &::before {
    border-radius: $radius-full;
    content: '';
    height: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
  }
}

.form-radio-indicator-ripple {
  border-radius: $radius-full;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 300ms ease;
  width: 40px;
  z-index: $zindex-level-1;
}

.form-radio-indicator:hover:not(.disabled) {
  &.active .form-radio-indicator-ripple {
    background-color: rgba($color-purple, 0.1);
  }

  .form-radio-indicator-ripple {
    background-color: rgba($color-gray-dark, 0.1);
  }
}

.form-radio-indicator.focused:not(.disabled) {
  &.active .form-radio-indicator-ripple {
    background-color: rgba($color-purple, 0.3);
  }

  .form-radio-indicator-ripple {
    background-color: rgba($color-gray-dark, 0.3);
  }
}

.form-radio-indicator.active {
  border-color: $color-purple;

  &::before {
    background-color: $color-purple;
  }

  .form-radio-indicator-ripple ::ng-deep .ripple {
    background-color: rgba($color-purple, 0.3);
  }
}

.form-radio-indicator.disabled {
  border-color: lighten($color-gray-dark, 30%);
  cursor: not-allowed;

  &.active::before {
    background-color: lighten($color-gray-dark, 30%);
  }
}
