<div class="form-radio-control">
  <div class="form-radio-indicator"
    (click)="onClick()"
    (blur)="onBlur()"
    (focus)="onFocus($event)"

    [class.active]="isActive"
    [class.disabled]="disabled"
    [class.focused]="isFocused"
    
    [tabindex]="disabled ? '-1': '0'">
    <div class="form-radio-indicator-ripple" materializeRipple [isRippleActive]="!disabled" [rippleDuration]="200"></div>
  </div>

  <div class="form-radio-label-container">
    <ng-content></ng-content>
  <div>

  <input type="radio"
    [attr.id]="id"
    [checked]="isActive"
    [disabled]="disabled"
    [name]="name"
    [required]="required"
    [value]= "value" />
</div>
