$property-background: background;
$property-background-color: background-color;
$property-box-shadow: box-shadow;
$property-font-size: font-size;
$property-left: left;
$property-transform: transform;
