$materialize-property-background: background;
$materialize-property-box-shadow: box-shadow;
$materialize-property-font-size: font-size;
$materialize-property-left: left;
$materialize-property-max-height: max-height;
$materialize-property-opacity: opacity;
$materialize-property-top: top;
$materialize-property-transform: transform;
$materialize-property-width: width;
