@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

$icons-circle-color: $color-white;
$icons-circle-bg-color: $color-black;

.icon {
  display: inline-block;
  font-family: $font-family-icons;
  outline: none;
  text-transform: lowercase;
}

.icon-pointer {
  cursor: pointer;
}

.icon-xl {
  font-size: $icon-xl;
}

.icon-lg {
  font-size: $icon-lg;
}

.icon-md {
  font-size: $icon-md;
}

.icon-sm {
  font-size: $icon-sm;
}

.icon-xs {
  font-size: $icon-xs;
}
