
<div class="form-switch-container" [ngClass]="className">
  <div class="form-switch-label-container">
    <ng-content></ng-content>
  </div>
  <div class="form-switch-control-container">
    <div class="form-switch-control"
      (click)="toggleValue()"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"

      [class.active]="value"
      [class.disabled]="disabled"
      [class.focused]="isFocused"

      tabindex="0">
      <div class="form-switch-indicator">
        <div class="form-switch-indicator-ripple" materializeRipple [isRippleActive]="!disabled" [rippleDuration]="200"></div>
      </div>
    </div>
    <input
      type="checkbox"
      [disabled]="disabled"
      [id]="id"
      [name]="name"
      [required]="required"
      [value]="value"
    />
  </div>
</div>
