
<div class="form-switch-container" [ngClass]="className">
  <div class="form-switch-label-container">{{ label }}</div>
  <div class="form-switch-control-container">
    <div class="form-switch-control"
      (click)="toggleValue()"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"

      [class.active]="value"
      [class.disabled]="disabled"
      [class.error]="!isValid && isTouched"
      tabindex="0">
      <div class="form-switch-indicator"></div>
    </div>
    <input
      type="checkbox"
      [disabled]="disabled"
      [id]="id"
      [name]="name"
      [required]="required"
      [value]="value"
    />
  </div>

  <materialize-form-message type="error" *ngIf="!isValid && isTouched">{{ errorMessage }}</materialize-form-message>
</div>
