@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.navbar {
  align-items: center;
  background-color: $color-purple;
  box-shadow: $shadow-sm;
  color: $color-white;
  display: flex;
  flex-direction: row;
  font-family: $font-family-primary;
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  height: 72px;
  padding: $space-lg $space-xs;
}
