@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.navbar {
  align-items: center;
  background-color: $color-purple;
  box-shadow: $shadow-sm;
  color: $color-white;
  display: flex;
  flex-direction: row;
  height: 72px;
  padding: $space-lg $space-xs;
}

.navbar-title {
  display: inline-block;
  flex: 1;
  font-size: $font-size-lg;
  margin-left: $space-xl;
}

.navbar-icon-container {
  padding: 0 $space-xs;
}
