%form-control-error {
  .#{$prefix}-form-control-container::after {
    background: map-get($theme-colors, 'danger');
    width: 100%;
  }

  .#{$prefix}-form-control-label {
    color: map-get($theme-colors, 'danger');
  }

  .#{$prefix}-form-control {
    caret-color: map-get($theme-colors, 'danger');
  }
}
