%form-control-error {
  .#{$prefix}-form-control-container::after {
    background: $materialize-color-red;
    width: 100%;
  }

  .#{$prefix}-form-control-label {
    color: $materialize-color-red;
  }

  .#{$prefix}-form-control {
    caret-color: $materialize-color-red;
  }
}
