%form-control-error {
  .#{$prefix}-form-control-container::after {
    background-color: $color-red;
    width: 100%;
  }

  .#{$prefix}-form-control-label {
    color: $color-red;
  }

  .#{$prefix}-form-control {
    caret-color: $color-red;
    padding-right: 48px;
  }
}
