$materialize-slider-option-color: $materialize-color-gray-darkest !default;
$materialize-slider-option-font-family: $theme-font-family-primary !default;
$materialize-slider-option-font-size: $theme-font-size-md !default;
$materialize-slider-option-font-weight: $theme-font-weight-regular !default;
$materialize-slider-option-height: auto !default;
$materialize-slider-option-left: 0 !default;
$materialize-slider-option-position: absolute !default;
$materialize-slider-option-text-align: center !default;
$materialize-slider-option-text-transform: none !default;
$materialize-slider-option-top: 0 !default;
$materialize-slider-option-transform: translateX(-50%) !default;
$materialize-slider-option-transition:
$theme-property-font-size $theme-timer-sm $theme-transition-function-ease !default;
$materialize-slider-option-width: auto !default;

$materialize-slider-option-active-font-weight: $theme-font-weight-bold !default;
$materialize-slider-option-active-font-size: $theme-font-size-lg !default;
