@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';
@import '../../../styles/variables.scss';

.tabs-header {
  border-bottom: $border-sm solid $color-gray;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: $space-lg;
  position: relative;

  li {
    cursor: pointer;
    padding: $space-md $space-xl;
    text-align: center;

    @if ($materialize-tab-headers-equal-size == true) {
      flex: 1;
    }
  }
}

.tabs-header-indicator {
  background-color: $materialize-tab-headers-indicator-color;
  bottom: 0;
  content: '';
  height: $border-md;
  left: 0;
  position: absolute;
  transition: cubic-bezier(0.35, 0, 0.25, 1);
}
