@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.tabs-header {
  border-bottom: $border-sm solid $color-gray;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: $space-lg;
  position: relative;
}

.tab-header-item {
  border-radius: $radius-md $radius-md 0 0;
  color: $color-black;
  cursor: pointer;
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: $font-weight-regular;
  padding: $space-md $space-xl;
  text-align: center;
  transition: background 300ms ease;

  // @if ($materialize-tab-headers-equal-size == true) {
  //   flex: 1;
  // }

  &:hover:not(.disabled) {
    background-color: lighten($color-purple, 50%);
  }

  &.active {
    font-weight: $font-weight-medium;
  }

  &.disabled {
    color: $color-gray;
    cursor: not-allowed;
  }
}

.tabs-header-indicator {
  background-color: $color-purple;
  bottom: 0;
  content: '';
  height: $border-md;
  left: 0;
  position: absolute;
  transition: cubic-bezier(0.35, 0, 0.25, 1);
}
