<custom-form-group [iconName]="iconName" [className]="className">

  <div class="form-radio-container">
    <div class="form-radio-control" *ngFor="let option of options"
      
      [class.active]="value === option.value"
      [class.disabled]="disabled"
      [class.focused]="isFocused"
      [class.error]="!isValid && isTouched">

      <div class="form-radio-indicator"
        (click)="onChange(option)"
        (blur)="onBlur()">
      </div>

      <label class="form-radio-label">{{ option.content }}</label>
      <input [disabled]="disabled" [name]="name" type="radio" />
    </div>
  </div>
</custom-form-group>
