<custom-form-group [iconName]="iconName" [className]="className">

  <div class="form-radio-container">
    <label class="form-label" *ngIf="label">{{ label }}</label>

    <div class="form-radio-control"
      *ngFor="let option of options; index as i"      
      [class.active]="value === option.value"
      [class.disabled]="disabled"
      [class.focused]="isFocused"
      [class.error]="!isValid && isTouched">

      <div class="form-radio-indicator"
        (click)="onChange(option)"
        (blur)="onBlur()">
      </div>

      <label class="form-radio-label">{{ option.content }}</label>
      <input type="radio"
        [disabled]="disabled"
        [id]="id + '-' + i"
        [name]="name" />
    </div>
  </div>
</custom-form-group>
