$materialize-glossary-item-color: $materialize-color-gray !default;
$materialize-glossary-item-cursor: pointer !default;
$materialize-glossary-font-weight: $theme-font-weight-regular !default;
$materialize-glossary-font-size: $theme-font-size-md !default;
$materialize-glossary-font-family: $theme-font-family-primary !default;
$materialize-glossary-item-padding: $theme-space-xs $theme-space-md !default;

$materialize-glossary-item-line-height: 100% !default;
$materialize-glossary-item-line-width: $theme-border-md !default;

$materialize-glossary-item-hover-color: $materialize-color-gray !default;
$materialize-glossary-item-hover-line-background: map-get($theme-colors, 'primary') !default;

$materialize-glossary-item-active-color: $materialize-color-gray-darkest !default;
$materialize-glossary-item-active-line-background: map-get($theme-colors, 'primary') !default;
