<custom-form-group [iconName]="_iconName" [className]="_className">
  <div class="form-field-container select-container"
    tabindex="0"

    (focus)="openMenu()"
    (blur)="closeMenu($event)"
    (click)="openMenu()"

    [class.active]="_isFocused || (_selectedOption && _selectedOption.content)"
    [class.focused]="_isFocused"
    [class.float-label]="_floatLabel">

    <label class="form-label">{{ _label }}</label>
    
    <div class="form-control">
      {{ _selectedOption ? _selectedOption.content : '' }}
    </div>
  
    <div class="select-menu" [class.open]="_isFocused">
      <div class="select-option"
        *ngFor="let option of _options"
        [class.active]="_value === option.value"
        (click)="selectOption($event, option)">
        {{ option.content }}
      </div>
    </div>
  </div>
</custom-form-group>

<!-- <select
  (blur)="onSelectBlur()"
  (change)="onSelectChange($event)"
  [disabled]="_disabled"
  [required]="_required"
  [value]="_value"
>
  <option [value]="option.value" *ngFor="let option of _options">
    {{ option.content }}
  </option>
</select> -->
