<materialize-glossary [scrollSpy]="scrollSpyExample">
  <materialize-glossary-item referenceId="section_1">One!!</materialize-glossary-item>
  <materialize-glossary-item referenceId="section_2">Two!!</materialize-glossary-item>
  <materialize-glossary-item referenceId="section_3">Three!!</materialize-glossary-item>
</materialize-glossary>

<materialize-scroll-spy #scrollSpyExample>
  <materialize-scroll-spy-item id="section_1">
    One!!
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="section_2">
    Two!!
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="section_3">
    Three!!
    <br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque incidunt qui expedita. Provident ad beatae, quo perspiciatis blanditiis odio autem unde, harum doloribus similique, animi omnis vero minus perferendis dolorem.
  </materialize-scroll-spy-item>
</materialize-scroll-spy>

<br />
<br />
<br />
<div class="materialize-container">
  <div class="materialize-row">
    <div class="materialize-col-12 materialize-col-sm-6 materialize-col-md-4 materialize-col-lg-6 materialize-col-xl-9">HOLA</div>
    <div class="materialize-col-12 materialize-hidden-sm">hidden-sm</div>
    <div class="materialize-col-12 materialize-hidden-md">hidden-md</div>
    <div class="materialize-col-12 materialize-hidden-lg">hidden-lg</div>
    <div class="materialize-col-12 materialize-hidden-xl">hidden-xl</div>
  </div>
</div>
<div class="materialize-container">
  <div class="materialize-row materialize-row-gap">
    <div class="materialize-col-12 materialize-col-sm-3 materialize-col-md-4 materialize-col-lg-6 materialize-col-xl-9">HOLA</div>
    <div class="materialize-col-12 materialize-col-sm-9 materialize-col-md-8 materialize-col-lg-6 materialize-col-xl-3">ADIOS</div>
  </div>
</div>
<div class="materialize-container-fluid">
  <div class="materialize-row">
    <div class="materialize-col-8">HOLA</div>
    <div class="materialize-col-4">
      <img class="materialize-img-fluid materialize-m-b-lg materialize-m-t-xl materialize-m-l-sm materialize-m-r-md" src="https://via.placeholder.com/150">
    </div>
  </div>
</div>

<h1 class="h1">Heading 1</h1>
<h2 class="h2">Heading 2</h2>
<h3 class="h3">Heading 3</h3>
<h4 class="h4">Heading 4</h4>
<h5 class="h5">Heading 5</h5>
<h6 class="h6">Heading 6</h6>
<br>

<blockquote class="blockquote">
  This is an example quotation that uses the blockquote tag.
  <br>Here is another line to make it look bigger.
  <br>Here is another line to make it look bigger.
</blockquote>

<h1 class="h1"><span class="badge">badge</span></h1>
<h2 class="h2"><span class="badge">badge</span></h2>
<h3 class="h3"><span class="badge">badge</span></h3>

<span class="badge">badge</span>
<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>

<br>

<button class="badge-notification" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-primary" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-secondary" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-success" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-danger" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-warning" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-info" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-light" data-badge="6">Badge Notification Example</button>
<button class="badge-notification badge-notification-dark" data-badge="6">Badge Notification Example</button>

<br>

<div class="spinner"></div>
<div class="spinner spinner-primary"></div>
<div class="spinner spinner-secondary"></div>
<div class="spinner spinner-success"></div>
<div class="spinner spinner-danger"></div>
<div class="spinner spinner-warning"></div>
<div class="spinner spinner-info"></div>

<div style="background-color: #000000; display: inline-block;">
  <div class="spinner spinner-light"></div>
</div>
<div class="spinner spinner-dark"></div>
<br>
<div class="loader"></div>
<div class="loader loader-primary"></div>
<div class="loader loader-secondary"></div>
<div class="loader loader-success"></div>
<div class="loader loader-danger"></div>
<div class="loader loader-warning"></div>
<div class="loader loader-info"></div>
<div style="background-color: #000000; display: inline-block;">
  <div class="loader loader-light"></div>
</div>
<div class="loader loader-dark"></div>
<br>
<h5 class="text-align-left">This should be left aligned</h5>
<h5 class="text-align-right">This should be right aligned</h5>
<h5 class="text-align-center">This should be center aligned</h5>
<br>
<div class="clearfix">
  <div class="float-left">Left</div>
  <div class="float-right">Right</div>
</div>
<br>
<h4 class="truncate">This is an extremely long title that will be truncated</h4>
<br>
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>
<p class="font-weight-bold">Bold text.</p>
<p class="font-weight-normal">Normal weight text.</p>
<p class="font-italic">Italic text.</p>

<materialize-html-visualizer html='
  <materialize-input label="With prefix">
    <span materializePrefix>+1</span>
  </materialize-input>
'></materialize-html-visualizer>

<materialize-stepper activeStep="1">
  <materialize-step step="1">First Step</materialize-step>
  <materialize-step step="2">Current Step</materialize-step>
  <materialize-step step="3">Last Step</materialize-step>
</materialize-stepper>

<br />
<br />
<br />

<!-- <materialize-checkbox-list checkAllLabel="Select all">
  <materialize-checkbox [value]="true">Checkbox 1</materialize-checkbox>
  <materialize-checkbox [value]="true">Checkbox 2</materialize-checkbox>
  <materialize-checkbox [value]="true">Checkbox 3</materialize-checkbox>
</materialize-checkbox-list> -->

<!-- List
<materialize-list>
  <materialize-list-item>Inbox</materialize-list-item>
  <materialize-list-item>Bookmark</materialize-list-item>
  <materialize-list-item>Chat</materialize-list-item>
</materialize-list> -->

<br />
<br />
<br />

Radio Group with Indicator at the End
<!-- <materialize-radio-group [indicatorAtEnd]="true">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group> -->


Calendar
<materialize-calendar [displayOtherMonthDays]="false"></materialize-calendar>
Calendar that displays other month days
<materialize-calendar></materialize-calendar>
Calendar with value
<materialize-calendar [date]="date"></materialize-calendar>

<br />
<br />
<br />

Datepicker
<materialize-datepicker></materialize-datepicker>
Datepicker with Placeholder
<materialize-datepicker placeholder="dd-mm-yyyy"></materialize-datepicker>
Datepicker with FloatLabel
<materialize-datepicker floatLabel="Float Label"></materialize-datepicker>
Datepicker disabled
<materialize-datepicker [disabled]="true"></materialize-datepicker>
Datepicker disabled with FloatLabel
<materialize-datepicker [disabled]="true" floatLabel="Float Label"></materialize-datepicker>
Datepicker disabled with FloatLabel and value
<materialize-datepicker [disabled]="true" floatLabel="Float Label" value="10-01-2019"></materialize-datepicker>
Datepicker Full size
<materialize-datepicker [fullSize]="true"></materialize-datepicker>
Datepicker Custom Format
<materialize-datepicker format="yyyy/mm/dd"></materialize-datepicker>

<materialize-form-message type="info">Info Message</materialize-form-message>
<materialize-form-message type="error">Error Message</materialize-form-message>
<materialize-form-message type="warning">Warning Message</materialize-form-message>
<materialize-form-message type="success">Success Message</materialize-form-message>

<!-- <h3>Dropdown</h3>
<materialize-dropdown [items]="dropDownItems"></materialize-dropdown> -->

<br />
<br />
<br />

<!-- <h3>Table</h3>
<materialize-table
  [data]="tableData"
  (onSort)="onTableSort($event)"
  title="Table Example">
  <div>esto es un test...</div>
</materialize-table> -->

<br />
<br />
<br />

<!-- <h3>Tooltip Top</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description...">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Bottom</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="bottom">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Left</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="left">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Right</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="right">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Right</h3>
<materialize-tooltip text="Description..." position="right">
  <materialize-button>something</materialize-button>
</materialize-tooltip> -->


<!--
<h3>Swiper</h3>
<materialize-swiper [isCarousel]="true" [displayControls]="false">
  <materialize-swiper-item>
    1
  </materialize-swiper-item>
  <materialize-swiper-item>
    2
  </materialize-swiper-item>
  <materialize-swiper-item>
    3
  </materialize-swiper-item>
  <materialize-swiper-item>
    4
  </materialize-swiper-item>
  <materialize-swiper-item>
    5
  </materialize-swiper-item>
</materialize-swiper>

<materialize-autocomplete [options]="selectOptions"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Label"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With Id" id="autocomplete-id"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With value" value="Option2"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With counter" [hasCounter]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With counter and maxlength" [hasCounter]="true" [maxLength]="8"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With placeholder" placeholder="Placeholder"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Disabled" [disabled]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Disabled and value" [disabled]="true" value="Option2"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Required" [required]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Required and match value" [required]="true" [isMatchValue]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" floatLabel="Float Label"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" floatLabel="Required Float Label" [required]="true"></materialize-autocomplete>

<materialize-input-file></materialize-input-file>
<materialize-input-file label="Label"></materialize-input-file>
<materialize-input-file label="With Id" id="input-file-id"></materialize-input-file>
<materialize-input-file label="Disabled" [disabled]="true"></materialize-input-file>
<materialize-input-file label="Required" [required]="true"></materialize-input-file>
<materialize-input-file floatLabel="Float label"></materialize-input-file>
<materialize-input-file floatLabel="Float label" [required]="true"></materialize-input-file>

<div-tree [classNames]="['row', 'col', 'row2', 'col2']">
  <h3>Div Tree</h3>
</div-tree>

<h3>Form Group</h3>
<materialize-form-group iconName="email" className="my-class-name">
  <materialize-input></materialize-input>
</materialize-form-group>
-->
