<h3>Simple Input</h3>
<custom-input></custom-input>

<h3>Input with Id</h3>
<custom-input id="input-id"></custom-input>

<h3>Simple Input with value</h3>
<custom-input value="My value"></custom-input>

<h3>Simple Input with counter</h3>
<custom-input [hasCounter]="true"></custom-input>

<h3>Simple Input with counter and Max Length</h3>
<custom-input [hasCounter]="true" [maxLength]="5"></custom-input>

<h3>Label Input</h3>
<custom-input label="Label" [floatLabel]="false"></custom-input>

<h3>Float Label Input</h3>
<custom-input label="Label"></custom-input>

<h3>Password Input</h3>
<custom-input type="password"></custom-input>

<h3>Icon Input</h3>
<custom-input iconName="email"></custom-input>

<h3>Disabled Input</h3>
<custom-input [disabled]="true"></custom-input>

<h3>Disabled Input with value</h3>
<custom-input [disabled]="true" value="My value"></custom-input>

<h3>Placeholder Input</h3>
<custom-input placeholder="Write here"></custom-input>

<h3>Placeholder Input With Label</h3>
<custom-input placeholder="Write here" label="Label" [floatLabel]="false"></custom-input>

<h3>Placeholder Input With Float Label</h3>
<custom-input placeholder="Write here" label="Label"></custom-input>

<h3>Required Simple Input</h3>
<custom-input [required]="true" [floatLabel]="false"></custom-input>

<h3>Required Label Input</h3>
<custom-input [required]="true" label="Label" [floatLabel]="false"></custom-input>

<h3>Float Label Required Input</h3>
<custom-input [required]="true" label="Label"></custom-input>

<h3>Required Input with name pattern (Number)</h3>
<custom-input [required]="true" label="Label" patternName="number"></custom-input>

<h3>No Required Input</h3>
<custom-input label="Label" ></custom-input>

<h3>No Required Input with name pattern (Number)</h3>
<custom-input label="Label" patternName="number"></custom-input>

<br>
<br>
<br>

<h3>Simple Select</h3>
<custom-select [options]="selectOptions"></custom-select>

<h3>Select with Id</h3>
<custom-select [options]="selectOptions" id="select-id"></custom-select>

<h3>Simple Select with value</h3>
<custom-select [options]="selectOptions" value="2"></custom-select>

<h3>Label Select</h3>
<custom-select label="Label" [options]="selectOptions" [floatLabel]="false"></custom-select>

<h3>Float Label Select</h3>
<custom-select label="Label" [options]="selectOptions"></custom-select>

<h3>Icon Select</h3>
<custom-select iconName="map" [options]="selectOptions"></custom-select>

<h3>Disabled Select</h3>
<custom-select [disabled]="true" [options]="selectOptions"></custom-select>

<h3>Disabled Select with value</h3>
<custom-select [disabled]="true" [options]="selectOptions" value="2"></custom-select>

<h3>Required Simple Select</h3>
<custom-select [options]="selectOptions" [required]="true"></custom-select>

<h3>Required Label Select</h3>
<custom-select label="Label" [floatLabel]="false" [options]="selectOptions" [required]="true"></custom-select>

<h3>Required Float Label Select</h3>
<custom-select label="Label" [options]="selectOptions" [required]="true"></custom-select>

<br>
<br>
<br>

<h3>Simple Autocomplete</h3>
<custom-autocomplete [options]="selectOptions"></custom-autocomplete>

<h3>Autocomplete with Id</h3>
<custom-autocomplete [options]="selectOptions" id="autocomplete-id"></custom-autocomplete>

<h3>Simple Autocomplete with value</h3>
<custom-autocomplete [options]="selectOptions" value="Option2"></custom-autocomplete>

<h3>Simple Autocomplete with counter</h3>
<custom-autocomplete [options]="selectOptions" [hasCounter]="true"></custom-autocomplete>

<h3>Simple Autocomplete with counter and Max Length</h3>
<custom-autocomplete [options]="selectOptions" [hasCounter]="true" [maxLength]="5"></custom-autocomplete>

<h3>Simple Autocomplete with Placeholder</h3>
<custom-autocomplete [options]="selectOptions" placeholder="Placeholder"></custom-autocomplete>

<h3>Label Autocomplete</h3>
<custom-autocomplete [options]="selectOptions" label="Label" [floatLabel]="false"></custom-autocomplete>

<h3>Float Label Autocomplete</h3>
<custom-autocomplete [options]="selectOptions" label="Label"></custom-autocomplete>

<h3>Icon Autocomplete</h3>
<custom-autocomplete iconName="map" [options]="selectOptions"></custom-autocomplete>

<h3>Disabled Autocomplete</h3>
<custom-autocomplete [disabled]="true" [options]="selectOptions"></custom-autocomplete>

<h3>Disabled Autocomplete with value</h3>
<custom-autocomplete [disabled]="true" [options]="selectOptions" value="Option2"></custom-autocomplete>

<h3>Required Autocomplete with match value</h3>
<custom-autocomplete label="Label" [required]="true" [options]="selectOptions" [isMatchValue]="true"></custom-autocomplete>

<h3>Required Simple Autocomplete</h3>
<custom-autocomplete [required]="true" [options]="selectOptions"></custom-autocomplete>

<h3>Required Label Autocomplete</h3>
<custom-autocomplete label="Label" [floatLabel]="false" [required]="true" [options]="selectOptions"></custom-autocomplete>

<h3>Required Float Label Autocomplete</h3>
<custom-autocomplete label="Label" [required]="true" [options]="selectOptions"></custom-autocomplete>

<br>
<br>
<br>

<h3>Simple TextArea</h3>
<custom-textarea></custom-textarea>

<h3>TextArea with Id</h3>
<custom-textarea id="textarea-id"></custom-textarea>

<h3>Simple TextArea with value</h3>
<custom-textarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></custom-textarea>

<h3>Simple TextArea with counter</h3>
<custom-textarea [hasCounter]="true"></custom-textarea>

<h3>Simple TextArea with counter and Max Length</h3>
<custom-textarea [hasCounter]="true" [maxLength]="5"></custom-textarea>

<h3>Label TextArea</h3>
<custom-textarea label="Label" [floatLabel]="false"></custom-textarea>

<h3>Float Label TextArea</h3>
<custom-textarea label="Label"></custom-textarea>

<h3>Icon TextArea</h3>
<custom-textarea iconName="email"></custom-textarea>

<h3>Disabled TextArea</h3>
<custom-textarea [disabled]="true"></custom-textarea>

<h3>Placeholder TextArea</h3>
<custom-textarea placeholder="Write here"></custom-textarea>

<h3>Placeholder TextArea With Label</h3>
<custom-textarea placeholder="Write here" label="Label" [floatLabel]="false"></custom-textarea>

<h3>Placeholder TextArea With Float Label</h3>
<custom-textarea placeholder="Write here" label="Label"></custom-textarea>

<h3>Required Simple TextArea</h3>
<custom-textarea [required]="true"></custom-textarea>

<br>
<br>
<br>

<h3>Simple Input File</h3>
<custom-input-file></custom-input-file>

<h3>Input File with id</h3>
<custom-input-file id="input-file-id"></custom-input-file>

<h3>Input File with label</h3>
<custom-input-file label="Input File" [floatLabel]="false"></custom-input-file>

<h3>Input File with Float label</h3>
<custom-input-file label="Input File"></custom-input-file>

<h3>Icon Input File</h3>
<custom-input-file label="Input File" iconName="add_photo_alternate"></custom-input-file>

<h3>Disabled Input File</h3>
<custom-input-file label="Input File" [disabled]="true"></custom-input-file>

<h3>Required Input File</h3>
<custom-input-file label="Input File" [required]="true"></custom-input-file>

<br>
<br>
<br>

<h3>Simple Button</h3>
<custom-button text="button"></custom-button>
<br>
<br>

<h3>Button with icon</h3>
<custom-button text="button" iconName="add"></custom-button>
<br>
<br>

<h3>Button with Icon at End</h3>
<custom-button text="button" iconName="add" [iconAtEnd]="true"></custom-button>
<br>
<br>

<h3>Rounded Button</h3>
<custom-button text="button" [isRounded]="true"></custom-button>
<br>
<br>

<h3>Rounded Button with Icon</h3>
<custom-button text="button" iconName="phone" [isRounded]="true"></custom-button>
<br>
<br>

<h3>Rounded Button with icon at the end</h3>
<custom-button text="button" iconName="phone" [isRounded]="true" [iconAtEnd]="true"></custom-button>
<br>
<br>

<h3>Rounded Button with icon</h3>
<custom-button iconName="phone" [isRounded]="true"></custom-button>
<br>
<br>

<h3>Button XS</h3>
<custom-button iconName="phone" size="xs" text="button"></custom-button>
<br>
<br>

<h3>Button SM</h3>
<custom-button iconName="phone" size="sm" text="button"></custom-button>
<br>
<br>

<h3>Button MD</h3>
<custom-button iconName="phone" size="md" text="button"></custom-button>
<br>
<br>

<h3>Button LG</h3>
<custom-button iconName="phone" size="lg" text="button"></custom-button>
<br>
<br>

<h3>Button XL</h3>
<custom-button iconName="phone" size="xl" text="button"></custom-button>

<br>
<br>
<br>

<h3>Simple Icon XS</h3>
<custom-icon name="done" size="xs"></custom-icon>

<h3>Simple Icon SM</h3>
<custom-icon name="done" size="sm"></custom-icon>

<h3>Simple Icon MD</h3>
<custom-icon name="done" size="md"></custom-icon>

<h3>Simple Icon LG</h3>
<custom-icon name="done" size="lg"></custom-icon>

<h3>Simple Icon XL</h3>
<custom-icon name="done" size="xl"></custom-icon>

<h3>Circle Icon XS</h3>
<custom-icon name="done" size="xs" [isCircle]="true"></custom-icon>

<h3>Circle Icon SM</h3>
<custom-icon name="done" size="sm" [isCircle]="true"></custom-icon>

<h3>Circle Icon MD</h3>
<custom-icon name="done" size="md" [isCircle]="true"></custom-icon>

<h3>Circle Icon LG</h3>
<custom-icon name="done" size="lg" [isCircle]="true"></custom-icon>

<h3>Circle Icon XL</h3>
<custom-icon name="done" size="xl" [isCircle]="true"></custom-icon>

<br>
<br>
<br>


<br>
<br>
<br>

<h3>Switch</h3>
<custom-switch label="Switch with Id" id="switch-id"></custom-switch>
<custom-switch label="Switch with Icon" iconName="phone"></custom-switch>
<custom-switch label="Switch Required" [required]="true"></custom-switch>
<custom-switch label="Switch (Enable inactive)"></custom-switch>
<custom-switch label="Switch (Enable active)" [value]="true"></custom-switch>
<custom-switch label="Switch (Disabled inactive)" [disabled]="true"></custom-switch>
<custom-switch label="Switch (Disabled active)" [disabled]="true" [value]="true"></custom-switch>
<br>
<br>
<br>

<h3>Checkbox</h3>
<custom-checkbox label="Checkbox with Id" id="checkbox-id"></custom-checkbox>
<custom-checkbox label="Checkbox with Icon" iconName="phone"></custom-checkbox>
<custom-checkbox label="Checkbox Required" [required]="true"></custom-checkbox>
<custom-checkbox label="Checkbox (Enable inactive)"></custom-checkbox>
<custom-checkbox label="Checkbox (Enable active)" [value]="true"></custom-checkbox>
<custom-checkbox label="Checkbox (Disabled inactive)" [disabled]="true"></custom-checkbox>
<custom-checkbox label="Checkbox (Disabled active)" [value]="true" [disabled]="true"></custom-checkbox>

<h3>Checkbox List</h3>
<custom-checkbox-list
  iconName="phone"
  checkAllLabel="Check all"
  [items]="[
    { value: false, label: 'Opt1', name: 'opt_1'},
    { value: false, label: 'Opt2', name: 'opt_2'},
    { value: false, label: 'Opt3', name: 'opt_3'},
    { value: false, label: 'Opt4', name: 'opt_4'}
  ]">
</custom-checkbox-list>

<br>
<br>
<br>

<h3>Simple Radio</h3>
<custom-radio [options]="radioOptions"></custom-radio>

<h3>Radio with Id</h3>
<custom-radio id="radio-id" [options]="radioOptions"></custom-radio>

<h3>Radio with Label</h3>
<custom-radio label="Label" [options]="radioOptions"></custom-radio>

<h3>Radio with Icon</h3>
<custom-radio iconName="cloud" [options]="radioOptions"></custom-radio>

<h3>Radio with value</h3>
<custom-radio value="2" [options]="radioOptions"></custom-radio>

<h3>Required Radio</h3>
<custom-radio [required]="true" [options]="radioOptions"></custom-radio>

<h3>Required Radio with can uncheck</h3>
<custom-radio [required]="true" [canUncheck]="true" [options]="radioOptions"></custom-radio>

<h3>Disabled Radio</h3>
<custom-radio [disabled]="true" [options]="radioOptions"></custom-radio>

<h3>Disabled Radio with value</h3>
<custom-radio [disabled]="true" value="2" [options]="radioOptions"></custom-radio>

<br>
<br>
<br>

<h3>Simple Datepicker</h3>
<custom-datepicker></custom-datepicker>

<h3>Datepicker with Id</h3>
<custom-datepicker id="datepicker-id"></custom-datepicker>

<h3>Datepicker with Float Label</h3>
<custom-datepicker label="Datepicker"></custom-datepicker>

<h3>Datepicker with Label</h3>
<custom-datepicker label="Datepicker" [floatLabel]="false"></custom-datepicker>

<h3>Datepicker with Icon</h3>
<custom-datepicker iconName="person" label="Datepicker"></custom-datepicker>

<h3>Datepicker disabled</h3>
<custom-datepicker [disabled]="true" label="Datepicker"></custom-datepicker>

<h3>Datepicker required</h3>
<custom-datepicker [required]="true"></custom-datepicker>

<br>
<br>
<br>

<h3>Dropdown</h3>
<custom-dropdown [items]="dropDownItems"></custom-dropdown>

<br>
<br>
<br>

<h3>Collapsible</h3>
<custom-collapsible
  iconName="people"
  title="Title"
  content="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sapiente ea fuga tempore dolor odio recusandae sit, beatae culpa debitis, voluptas reprehenderit ex. Nulla iusto magnam ipsum, obcaecati delectus ipsa"
>
</custom-collapsible>

<br>
<br>
<br>

<h3>Accordion</h3>

<custom-accordion [items]="[
  { iconName: 'people', title: 'Title', content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sapiente ea fuga tempore dolor odio recusandae sit, beatae culpa debitis, voluptas reprehenderit ex. Nulla iusto magnam ipsum, obcaecati delectus ipsa' },
  { iconName: 'people', title: 'Title', content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sapiente ea fuga tempore dolor odio recusandae sit, beatae culpa debitis, voluptas reprehenderit ex. Nulla iusto magnam ipsum, obcaecati delectus ipsa' },
  { iconName: 'people', title: 'Title', content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sapiente ea fuga tempore dolor odio recusandae sit, beatae culpa debitis, voluptas reprehenderit ex. Nulla iusto magnam ipsum, obcaecati delectus ipsa' }
]">
</custom-accordion>
<br>
<br>
<br>

<h3>Table</h3>
<custom-table
  [data]="tableData"
  (onSort)="onTableSort($event)"
  title="Table Example">
  <div>esto es un test...</div>
</custom-table>

<br>
<br>
<br>

<h3>Tooltip Top</h3>
<p>
  Lorem ipsum dolor sit amet <custom-tooltip text="Description...">TOOLTIP</custom-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br>
<br>
<br>

<h3>Tooltip Bottom</h3>
<p>
  Lorem ipsum dolor sit amet <custom-tooltip text="Description..." position="bottom">TOOLTIP</custom-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br>
<br>
<br>

<h3>Tooltip Left</h3>
<p>
  Lorem ipsum dolor sit amet <custom-tooltip text="Description..." position="left">TOOLTIP</custom-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br>
<br>
<br>

<h3>Tooltip Right</h3>
<p>
  Lorem ipsum dolor sit amet <custom-tooltip text="Description..." position="right">TOOLTIP</custom-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br>
<br>
<br>

<h3>Tooltip Right</h3>
<custom-tooltip text="Description..." position="right">
  <custom-button iconName="send" size="xs" [isRounded]="true"></custom-button>
</custom-tooltip>

<br>
<br>
<br>

<h3>Button Toggle</h3>
<custom-button-toggle
[items]="[
  { value: '1', content: 'Option 1', iconName: 'person', name: 'op1' },
  { value: '2', content: 'Option 1', iconName: 'person', name: 'op2'},
  { value: '3', content: 'Option 1', iconName: 'person', name: 'op3'}
]">
</custom-button-toggle>

<h3>Button Toggle Disabled</h3>
<custom-button-toggle
[items]="[
  { value: '1', content: 'Option 1', iconName: 'person', name: 'op1'},
  { value: '2', content: 'Option 1', iconName: 'person', name: 'op2'}
]"
[disabled]="true">
</custom-button-toggle>

<br>
<br>
<br>

<h3>Swiper</h3>
<custom-swiper [isCarousel]="true" [displayControls]="false">
  <custom-swiper-item>
    1
  </custom-swiper-item>
  <custom-swiper-item>
    2
  </custom-swiper-item>
  <custom-swiper-item>
    3
  </custom-swiper-item>
  <custom-swiper-item>
    4
  </custom-swiper-item>
  <custom-swiper-item>
    5
  </custom-swiper-item>
</custom-swiper>


<!-- <div-tree [classNames]="['row', 'col', 'row2', 'col2']">
  <h3>Div Tree</h3>
</div-tree> -->
