<materialize-range-slider></materialize-range-slider>

Input
<materialize-input></materialize-input>
Input Password
<materialize-input type="password"></materialize-input>
Input with Id
<materialize-input id="input-id"></materialize-input>
Input with Value
<materialize-input value="My value"></materialize-input>
Input with Counter
<materialize-input [hasCounter]="true"></materialize-input>
Input with Counter and MaxLength
<materialize-input [hasCounter]="true" [maxLength]="5"></materialize-input>
Input with Placeholder
<materialize-input label="Placeholder" placeholder="Write here"></materialize-input>
Input Disabled
<materialize-input [disabled]="true"></materialize-input>
Input Disabled and value
<materialize-input [disabled]="true" value="My value"></materialize-input>
Input Float Label
<materialize-input floatLabel="Float label"></materialize-input>
Input Float Label with Placeholder
<materialize-input floatLabel="Float Label and placeholder" placeholder="Write here"></materialize-input>
Input with Prefix
<materialize-input>
  <span materializePrefix>+1</span>
</materialize-input>
Input with Prefix Icon
<materialize-input>
  <materialize-icon materializePrefix name="phone"></materialize-icon>
</materialize-input>
Input with Prefix and Float Label
<materialize-input floatLabel="Float Label">
  <span materializePrefix>+1</span>
</materialize-input>
Input with Prefix Icon and Float Label
<materialize-input floatLabel="Float Label">
  <materialize-icon materializePrefix name="phone"></materialize-icon>
</materialize-input>
Input with Suffix
<materialize-input>
  <span materializeSuffix>.00</span>
</materialize-input>
Input with Suffix Icon
<materialize-input>
  <materialize-icon materializeSuffix name="phone"></materialize-icon>
</materialize-input>
Input with Suffix and Float Label
<materialize-input floatLabel="Float Label">
  <span materializeSuffix>.00</span>
</materialize-input>
Input with Suffix Icon and FloatLabel
<materialize-input floatLabel="Float Label">
  <materialize-icon materializeSuffix name="phone"></materialize-icon>
</materialize-input>

<br />
<br />
<br />

<materialize-switch>Switch</materialize-switch>
<materialize-switch id="switch-id">With Id</materialize-switch>
<materialize-switch [value]="true">With Value</materialize-switch>
<materialize-switch [disabled]="true">Disabled</materialize-switch>
<materialize-switch [disabled]="true" [value]="true">Disabled with value</materialize-switch>
<materialize-switch [required]="true">Required</materialize-switch>

<br />
<br />
<br />

<materialize-checkbox>Checkbox</materialize-checkbox>
<materialize-checkbox id="checkbox-id">With Id</materialize-checkbox>
<materialize-checkbox [value]="true">With Value</materialize-checkbox>
<materialize-checkbox [disabled]="true">Disabled</materialize-checkbox>
<materialize-checkbox [disabled]="true" [value]="true">Disabled with value</materialize-checkbox>
<materialize-checkbox [required]="true">Required</materialize-checkbox>
<materialize-checkbox [required]="true" [indeterminate]="true">Indeterminate</materialize-checkbox>

<br />
<br />
<br />

<materialize-checkbox-list checkAllLabel="Select all">
  <materialize-checkbox [value]="true">Checkbox 1</materialize-checkbox>
  <materialize-checkbox [value]="true">Checkbox 2</materialize-checkbox>
  <materialize-checkbox [value]="true">Checkbox 3</materialize-checkbox>
</materialize-checkbox-list>

<br />
<br />
<br />

TextArea
<materialize-textarea></materialize-textarea>
TextArea with Id
<materialize-textarea id="textarea-id"></materialize-textarea>
TextArea with Value
<materialize-textarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
TextArea with 3 Rows
<materialize-textarea [rows]="3"></materialize-textarea>
TextArea with Counter
<materialize-textarea [hasCounter]="true"></materialize-textarea>
TextArea with Counter and Maxlength
<materialize-textarea [hasCounter]="true" [maxLength]="5"></materialize-textarea>
TextArea with Placeholder
<materialize-textarea placeholder="Write here"></materialize-textarea>
TextArea Disabled
<materialize-textarea [disabled]="true"></materialize-textarea>
TextArea Disabled with Value
<materialize-textarea [disabled]="true" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
TextArea Disabled with Value and Float Label
<materialize-textarea [disabled]="true" floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
TextArea Required
<materialize-textarea [required]="true"></materialize-textarea>
TextArea with Float Label
<materialize-textarea floatLabel="Float Label"></materialize-textarea>
TextArea with Float Label and Value
<materialize-textarea floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
TextArea with Float Label and Placeholder
<materialize-textarea floatLabel="Float Label and placeholder" placeholder="Placeholder"></materialize-textarea>

<br />
<br />
<br />

<h3>Collapsible</h3>
<materialize-collapsible>
  <materialize-collapsible-title iconName="phone" iconSize="lg">Title</materialize-collapsible-title>
  <materialize-collapsible-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Aliquam minima soluta enim porro atque placeat quis commodi
    deserunt veniam libero molestiae doloremque eveniet incidunt,
    odit expedita cupiditate est tenetur reprehenderit.
  </materialize-collapsible-content>
</materialize-collapsible>

<br />
<br />
<br />

<h3>Accordion</h3>
<materialize-accordion>
  <materialize-collapsible>
    <materialize-collapsible-title iconName="phone" iconSize="lg">Title</materialize-collapsible-title>
    <materialize-collapsible-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Aliquam minima soluta enim porro atque placeat quis commodi
      deserunt veniam libero molestiae doloremque eveniet incidunt,
      odit expedita cupiditate est tenetur reprehenderit.
    </materialize-collapsible-content>
  </materialize-collapsible>
  <materialize-collapsible>
    <materialize-collapsible-title iconName="phone" iconSize="lg">Title</materialize-collapsible-title>
    <materialize-collapsible-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Aliquam minima soluta enim porro atque placeat quis commodi
      deserunt veniam libero molestiae doloremque eveniet incidunt,
      odit expedita cupiditate est tenetur reprehenderit.
    </materialize-collapsible-content>
  </materialize-collapsible>
</materialize-accordion>

<br />
<br />
<br />

<materialize-radio>Radio</materialize-radio>
<materialize-radio id="radio-id">With Id</materialize-radio>
<materialize-radio value="2">With Value</materialize-radio>
<materialize-radio [disabled]="true">Disabled</materialize-radio>

Radio Group
<materialize-radio-group>
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group with Value
<materialize-radio-group value="b">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group Can Uncheck
<materialize-radio-group [canUncheck]="true">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group Disabled
<materialize-radio-group [disabled]="true">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group Disabled With Value
<materialize-radio-group [disabled]="true" value="b">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group Required
<materialize-radio-group [required]="true">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>
Radio Group with Indicator at the End
<materialize-radio-group [indicatorAtEnd]="true">
  <materialize-radio value="a">Value A</materialize-radio>
  <materialize-radio value="b">Value B</materialize-radio>
</materialize-radio-group>

<br />
<br />
<br />

<h3>Simple Button</h3>
<materialize-button>Button</materialize-button>
<materialize-button [disabled]="true">Disabled</materialize-button>
<materialize-button [isRounded]="true">Rounded</materialize-button>
<materialize-button iconName="add">With Icon</materialize-button>
<materialize-button iconName="add" [iconAtEnd]="true">With Icon at End</materialize-button>
<materialize-button iconName="phone" [isRounded]="true" [iconAtEnd]="true">Rounded with icon at the end</materialize-button>
<materialize-button iconName="phone" size="xs" [isRounded]="true"></materialize-button>
<materialize-button iconName="phone" size="sm" [isRounded]="true"></materialize-button>
<materialize-button iconName="phone" size="md" [isRounded]="true"></materialize-button>
<materialize-button iconName="phone" size="lg" [isRounded]="true"></materialize-button>
<materialize-button iconName="phone" size="xl" [isRounded]="true"></materialize-button>
<materialize-button iconName="phone" size="xs">Size XS</materialize-button>
<materialize-button iconName="phone" size="sm">Size SM</materialize-button>
<materialize-button iconName="phone" size="md">Size MD</materialize-button>
<materialize-button iconName="phone" size="lg">Size LG</materialize-button>
<materialize-button iconName="phone" size="xl">Size XL</materialize-button>

<br />
<br />
<br />

Simple Icon XS
<materialize-icon name="done" size="xs"></materialize-icon>
Simple Icon SM
<materialize-icon name="done" size="sm"></materialize-icon>
Simple Icon MD
<materialize-icon name="done" size="md"></materialize-icon>
Simple Icon LG
<materialize-icon name="done" size="lg"></materialize-icon>
Simple Icon XL
<materialize-icon name="done" size="xl"></materialize-icon>

<br />
<br />
<br />

Tabs
<materialize-tab-group>
  <materialize-tab title="header 0" link="contacts"></materialize-tab>
  <materialize-tab title="header1">content 1</materialize-tab>
  <materialize-tab title="header2 Longer">content 2</materialize-tab>
  <materialize-tab title="header3 the longest">content 3</materialize-tab>
</materialize-tab-group>

<br />
<br />
<br />

<materialize-autocomplete [options]="selectOptions"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Label"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With Id" id="autocomplete-id"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With value" value="Option2"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With counter" [hasCounter]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With counter and maxlength" [hasCounter]="true" [maxLength]="8"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="With placeholder" placeholder="Placeholder"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Disabled" [disabled]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Disabled and value" [disabled]="true" value="Option2"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Required" [required]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" label="Required and match value" [required]="true" [isMatchValue]="true"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" floatLabel="Float Label"></materialize-autocomplete>
<materialize-autocomplete [options]="selectOptions" floatLabel="Required Float Label" [required]="true"></materialize-autocomplete>

<br />
<br />
<br />

<materialize-select [options]="selectOptions"></materialize-select>
<materialize-select [options]="selectOptions" label="Label"></materialize-select>
<materialize-select [options]="selectOptions" label="With Id" id="select-id"></materialize-select>
<materialize-select [options]="selectOptions" label="With Value" value="2"></materialize-select>
<materialize-select [options]="selectOptions" label="Disabled" [disabled]="true"></materialize-select>
<materialize-select [options]="selectOptions" label="Disabled with value" [disabled]="true" value="2"></materialize-select>
<materialize-select [options]="selectOptions" label="Required" [required]="true"></materialize-select>
<materialize-select [options]="selectOptions" floatLabel="Float label"></materialize-select>
<materialize-select [options]="selectOptions" floatLabel="Float label and required" [required]="true"></materialize-select>

<br />
<br />
<br />

<materialize-input-file></materialize-input-file>
<materialize-input-file label="Label"></materialize-input-file>
<materialize-input-file label="With Id" id="input-file-id"></materialize-input-file>
<materialize-input-file label="Disabled" [disabled]="true"></materialize-input-file>
<materialize-input-file label="Required" [required]="true"></materialize-input-file>
<materialize-input-file floatLabel="Float label"></materialize-input-file>
<materialize-input-file floatLabel="Float label" [required]="true"></materialize-input-file>

<br />
<br />
<br />

<h3>Form Group</h3>
<materialize-form-group iconName="email" className="my-class-name">
  <materialize-input></materialize-input>
</materialize-form-group>

<br />
<br />
<br />

<h3>Ripple</h3>
<div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;"></div>

<h3>Modal</h3>
<materialize-modal>
  <materialize-icon name="loupe" size="xl" materializeModalHandler></materialize-icon>
  <div materializeModalContent>
    <materialize-button materializeModalClose text="close modal"></materialize-button>
  </div>
</materialize-modal>

<h3>Modal</h3>
<materialize-modal [isOpen]="true">
</materialize-modal>

<h3>Modal Default</h3>
<materialize-modal>
  <materialize-icon name="loupe" size="xl" materializeModalHandler></materialize-icon>
  <div materializeModalContent>Modal</div>
</materialize-modal>

<h3>Modal not close on backdrop</h3>
<materialize-modal [dismissOnBackdrop]="false">
  <materialize-icon name="loupe" size="xl" materializeModalHandler></materialize-icon>
  <div materializeModalContent>
    <materialize-button materializeModalClose text="close modal"></materialize-button>
  </div>
</materialize-modal>

<h3>Modal without backdrop</h3>
<materialize-modal [hasBackdrop]="false">
  <materialize-icon name="loupe" size="xl" materializeModalHandler></materialize-icon>
  <div materializeModalContent>
    <materialize-button materializeModalClose text="close modal"></materialize-button>
  </div>
</materialize-modal>

<h3>Modal without close button</h3>
<materialize-modal [hasCloseButton]="false">
  <materialize-icon name="loupe" size="xl" materializeModalHandler></materialize-icon>
  <div materializeModalContent>
    <materialize-button materializeModalClose text="close modal"></materialize-button>
  </div>
</materialize-modal>

<br />
<br />
<br />

<h3>Simple Datepicker</h3>
<materialize-datepicker></materialize-datepicker>

<h3>Datepicker with Id</h3>
<materialize-datepicker id="datepicker-id"></materialize-datepicker>

<h3>Datepicker with Float Label</h3>
<materialize-datepicker label="Datepicker"></materialize-datepicker>

<h3>Datepicker with Label</h3>
<materialize-datepicker label="Datepicker" [floatLabel]="false"></materialize-datepicker>

<h3>Datepicker with Icon</h3>
<materialize-datepicker iconName="person" label="Datepicker"></materialize-datepicker>

<h3>Datepicker disabled</h3>
<materialize-datepicker [disabled]="true" label="Datepicker"></materialize-datepicker>

<h3>Datepicker required</h3>
<materialize-datepicker [required]="true"></materialize-datepicker>

<br />
<br />
<br />

<h3>Dropdown</h3>
<materialize-dropdown [items]="dropDownItems"></materialize-dropdown>

<br />
<br />
<br />

<h3>Table</h3>
<materialize-table
  [data]="tableData"
  (onSort)="onTableSort($event)"
  title="Table Example">
  <div>esto es un test...</div>
</materialize-table>

<br />
<br />
<br />

<h3>Tooltip Top</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description...">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Bottom</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="bottom">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Left</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="left">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Right</h3>
<p>
  Lorem ipsum dolor sit amet <materialize-tooltip text="Description..." position="right">TOOLTIP</materialize-tooltip>,
  adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus. Adipisicing elit. Officiis quae ducimus sit nihil obcaecati consectetur!
  Culpa nostrum iure optio ratione laboriosam animi fuga vel eveniet deleniti.
  Dolores magni voluptatibus possimus.
</p>

<br />
<br />
<br />

<h3>Tooltip Right</h3>
<materialize-tooltip text="Description..." position="right">
  <materialize-button iconName="send" size="xs" [isRounded]="true"></materialize-button>
</materialize-tooltip>

<br />
<br />
<br />

<h3>Button Toggle</h3>
<materialize-button-toggle
[items]="[
  { value: '1', content: 'Option 1', iconName: 'person', name: 'op1' },
  { value: '2', content: 'Option 1', iconName: 'person', name: 'op2'},
  { value: '3', content: 'Option 1', iconName: 'person', name: 'op3'}
]">
</materialize-button-toggle>

<h3>Button Toggle Disabled</h3>
<materialize-button-toggle
[items]="[
  { value: '1', content: 'Option 1', iconName: 'person', name: 'op1'},
  { value: '2', content: 'Option 1', iconName: 'person', name: 'op2'}
]"
[disabled]="true">
</materialize-button-toggle>

<br />
<br />
<br />

<h3>Swiper</h3>
<materialize-swiper [isCarousel]="true" [displayControls]="false">
  <materialize-swiper-item>
    1
  </materialize-swiper-item>
  <materialize-swiper-item>
    2
  </materialize-swiper-item>
  <materialize-swiper-item>
    3
  </materialize-swiper-item>
  <materialize-swiper-item>
    4
  </materialize-swiper-item>
  <materialize-swiper-item>
    5
  </materialize-swiper-item>
</materialize-swiper>

<!-- <div-tree [classNames]="['row', 'col', 'row2', 'col2']">
  <h3>Div Tree</h3>
</div-tree> -->
