@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.form-checkboxes-list-container {
  position: relative;

  .form-checkboxes-list-item {
    padding-left: $space-xxl;
  }
}

:host.ng-touched.ng-dirty.ng-invalid .form-checkboxes-list-container ::ng-deep {
  .form-checkbox-control.indeterminate {
    background-color: $color-red;
  }

  .form-checkbox-control {
    border-color: $color-red;

    &:hover .form-checkbox-control-ripple {
      background-color: rgba($color-red, 0.1);
    }

    .ripple {
      background-color: rgba($color-red, 0.3);
    }
  }
}
