<div class="form-checkboxes-list-container"
  [ngClass]="className"
  [class.error]="!isValid && isTouched">
  <materialize-label>{{ label }}</materialize-label>

  <materialize-checkbox
    (onChange)="onChangeAll($event)"
    [label]="checkAllLabel"
    [indeterminate]="!checkAllValue"
    [value]="checkAllValue">
  </materialize-checkbox>

  <div class="form-checkboxes-list-item" *ngFor="let item of items">
    <materialize-checkbox
      (onChange)="onChangeCheckbox($event, item)"
      [disabled]="item.disabled"
      [label]="item.label"
      [value]="item.value"
    >
    </materialize-checkbox> 
  </div>
  <materialize-error *ngIf="!isValid && isTouched">{{ errorMessage }}</materialize-error>
</div>
