<custom-form-group [iconName]="_iconName" [className]="_className">
  <div class="form-field-container"
    [class.float-label]="_floatLabel"
    [class.active]="_isFocused || _value.length > 0 || _placeholder"
    [class.focused]="_isFocused"
    [class.disabled]="_disabled"
    #formFieldContainer>

    <label class="form-label">{{ _label }}</label>

    <input class="form-control"
      autocomplete="none"
      type="text"

      (input)="onInputChange($event)"
      (focus)="onInputFocus($event)"

      [disabled]="_disabled"
      [maxLength]="_maxLength"
      [placeholder]="_placeholder"
      [required]="_required"
      [value]="_value"      
    />

    <div class="select-menu" [class.open]="_isFocused">
      <div class="select-option"
        *ngFor="let option of _options"
        [class.active]="_value === option.content"
        (click)="selectOption(option.content)">
        {{ option.content }}
      </div>
    </div>
  </div>  
</custom-form-group>
