<div class="autocomplete-container" [ngClass]="className">
  <custom-input 
    (onChange)="onInputChange($event)"
    (onFocus)="onInputFocus($event)"
    (onBlur)="onInputBlur($event)"

    [autocomplete]="autocomplete"
    [disabled]="disabled"
    [floatLabel]="floatLabel"
    [hasCounter]="hasCounter"
    [id]="id"
    [label]="label"
    [maxLength]="maxLength"
    [name]="name"
    [patternName]="patternName"
    [placeholder]="placeholder"
    [required]="required"
    [type]="text"
    [validateOnBlur]="validateOnBlur"
    [validateOnChange]="validateOnChange"
    [value]="value"

    #customInput
  >
  </custom-input>

  <div class="select-menu" [class.open]="isFocused">
    <div class="select-option"
      *ngFor="let option of options"
      [class.active]="value === option.content"
      (click)="selectOption(option.content)"
      tabindex="1">
      {{ option.content }}
    </div>
  </div>
</div>
