@import '../common/styles/forms.scss';

.autocomplete-container {
  position: relative;
}

.autocomplete-options-container {
  background: $materialize-color-white;
  box-shadow: $materialize-shadow-md;
  cursor: pointer;
  display: none;
  left: 0;
  padding: $materialize-space-xs 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $materialize-zindex-level-2;

  &.open {
    display: block;
  }
}

.autocomplete-option {
  box-sizing: border-box;
  color: map-get($theme-colors, 'gray-40');
  font-size: $materialize-font-size-xs;
  font-weight: $materialize-font-weight-light;
  outline: none;
  padding: $materialize-space-md $materialize-space-sm;

  &:hover {
    background-color: map-get($theme-colors, 'gray-80');
  }

  &.active {
    background-color: rgba($materialize-color-purple, 0.1);
  }
}
