<div [ngClass]="[prefix + '-slider-container', className]" [class.focused]="isFocused" [class.disabled]="disabled">

  <div [ngClass]="prefix + '-slider-track-container'" #sliderTrack [tabindex]="disabled ? '-1' : '0'" (focus)="onFocus()" (blur)="onBlur()">
    <div #sliderTrackInterval></div>

    <div [ngClass]="prefix + '-slider-track'" #sliderTrackBackground></div>

    <div [ngClass]="prefix + '-slider-indicator-container'" #sliderIndicatorContainer>
      <ng-content select="materialize-slider-indicator"></ng-content>
    </div>
  </div>

  <div [ngClass]="prefix + '-slider-labels-container'" *ngIf="showLabels">
    <ng-content select="materialize-slider-option"></ng-content>
  </div>
</div>
