@import '../common/styles/metrics.scss';

.date-picker {
  position: relative;

  ::ng-deep .calendar-container {
    bottom: 80px;
    display: none;
    position: absolute;
    right: $space-sm;
    z-index: $zindex-level-1;
  }
}

.open ::ng-deep .calendar-container {
  display: block;
}
