@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.date-picker-backdrop {
  background-color: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $zindex-level-1;
}

.date-picker {
  position: relative;

  &.full-size {
    .date-picker-backdrop {
      background-color: rgba($color-black, 0.4);
    }

    ::ng-deep .calendar-container {
      bottom: unset;
      left: 50%;
      margin-bottom: unset;
      position: fixed;
      right: unset;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  ::ng-deep {
    .form-control-suffix-container {
      padding-right: $space-xxxs;
    }

    .calendar-button {
      background-color: unset;
      box-shadow: unset;
      color: $color-black;
      padding: $space-xs $space-xxxs;

      .ripple {
        background-color: rgba($color-black, 0.1);
      }
    }

    .calendar-container {
      bottom: 100%;
      margin-bottom: $space-xs;
      position: absolute;
      right: $space-xs;
      z-index: $zindex-level-2;
    }
  }
}
