<div class="date-picker" [class.full-size]="fullSize">
  <div #backdrop *ngIf="isOpen" class="date-picker-backdrop"></div>

  <materialize-input
    [disabled]="disabled"
    [floatLabel]="floatLabel"
    [id]="id"
    [placeholder]="placeholder"
    [required]="required"
    [value]="value"

    (onChange)="onInputChange($event)"
    (onFocus)="onInputFocus()"
  >
    <materialize-button materializeSuffix [disabled]="disabled" (onClick)="open()">
        <!-- className="calendar-button" iconName="calendar_today" -->
    </materialize-button>
  </materialize-input>

  <materialize-calendar *ngIf="isOpen" (onSelectDay)="onSelectDay($event)" [date]="date"></materialize-calendar>
</div>
