@import '../common/styles/colors.scss';
@import '../common/styles/fonts.scss';
@import '../common/styles/metrics.scss';

@import '../common/styles/fonts.scss';
@import '../common/styles/forms.scss';

.form-control {
  @extend %form-control-base;
}

.form-control-wrapper {
  @extend %form-control-wrapper;
}

.form-control-container {
  @extend %form-control-container;
}

.form-control-prefix-container,
.form-control-suffix-container {
  align-items: center;
  color: $color-black;
  display: flex;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  line-height: $font-size-xs;
}

.form-control-prefix-container {
  padding-left: $space-xs;
}

.form-control-suffix-container {
  padding-right: $space-xs;
}
