<div class="form-control-container"
  tabindex="1"
  
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"

  [ngClass]="className"
  [class.float-label]="floatLabel"
  [class.active]="value || placeholder"
  [class.focused]="isFocused"
  [class.disabled]="disabled"

  #formControlWrapper>

  <div class="form-control-prefix-container" *ngIf="materializePrefixQueryList.length">
    <ng-content select="[materializePrefix]"></ng-content>
  </div>

  <div class="form-control-wrapper">
    <div class="form-control-float-label">{{ floatLabel }}</div>

    <input class="form-control"
      (input)="onChange($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"

      [autocomplete]="autocomplete"
      [disabled]="disabled"
      [attr.id]="id"
      [maxLength]="maxLength"
      [name]="name"
      [placeholder]="placeholder"
      [required]="required"
      [type]="type"
      [value]="value"
    />

    <materialize-icon className="form-icon-error" name="error" size="lg"></materialize-icon>
  </div>

  <div class="form-control-suffix-container" *ngIf="materializeSuffixQueryList.length">
    <ng-content select="[materializeSuffix]"></ng-content>
  </div>
</div>

<materialize-form-message type="info" *ngIf="hasCounter">{{ value.length }} / {{ maxLength }}</materialize-form-message>
