@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.drawer {
  position: relative;
}

.drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: inherit;
  width: 100%;
  z-index: $zindex-level-2;
}

.drawer-content {
  background-color: $color-white;
  color: $color-gray-dark;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition-duration: inherit;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;
  z-index: $zindex-level-2;
}

.drawer-container {
  transition-duration: inherit;
  transition-property: margin;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.drawer.open.backdrop .drawer-backdrop {
  opacity: 1;
}

.drawer.open.over .drawer-content {
  transform: translateX(0);
}

.drawer.static,
.drawer.open.push {
  .drawer-content {
    transform: translateX(0);
  }

  .drawer-container {
    margin-left: 280px;
    overflow: hidden;
  }
}
