<custom-icon
  [isPointer]="true"
  [name]="_menuIconName"
  (onClick)="openSideNav()"
  size="lg">
</custom-icon>

<div class="sidenav" [class.active]="_isOpen">
  <div class="sidenav-content">
    <div class="sidenav-title-container">
      <div class="sidenav-icon">
        <custom-icon [name]="_titleIconName" size="xl"></custom-icon>
      </div>
      <div class="sidenav-title">{{ _title }}</div>
    </div>
    <div class="sidenav-body-container">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="sidenav-backdrop" (click)="closeSideNav()"></div>
</div>
