$fonts-path: './../../../fonts' !default;

$font-size-xxxs: 10px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-size-xxxl: 26px;

$font-family-primary: 'Roboto';
$font-family-secondary: '';
$font-family-icons: 'material-icons';

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-black: 600;

@font-face {
  font-family: $font-family-icons;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$fonts-path}/material-icons/material-icons.woff2');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$fonts-path}/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-thin;
  src: url('#{$fonts-path}/Roboto/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-light;
  src: url('#{$fonts-path}/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-light;
  src: url('#{$fonts-path}/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('#{$fonts-path}/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-regular;
  src: url('#{$fonts-path}/Roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-medium;
  src: url('#{$fonts-path}/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-medium;
  src: url('#{$fonts-path}/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$fonts-path}/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-bold;
  src: url('#{$fonts-path}/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-black;
  src: url('#{$fonts-path}/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-black;
  src: url('#{$fonts-path}/Roboto/Roboto-BlackItalic.ttf');
}
