@import './colors.scss';
@import './metrics.scss';
@import '../../../../styles/variables.scss';

%form-control-container-base {
  background-color: $color-gray-light;
  border-bottom: $border-sm solid $color-gray-dark;
  border-radius: $radius-sm $radius-sm 0 0;
  display: flex;
  flex-direction: row;
  margin-bottom: $space-sm;
  outline: none;
  position: relative;

  &::after {
    background-color: $color-purple;
    bottom: -1px;
    content: '';
    height: $border-md;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: 250ms ease width;
    width: 0;
    z-index: $zindex-level-1;
  }

  &.float-label .form-control {
    padding-top: $space-xl;
  }

  &.active .form-control-float-label,
  &.focused .form-control-float-label {
    font-size: 12px;
    top: 0;
    transform: unset;
  }

  &.focused .form-control-float-label {
    color: $color-purple;
  }

  &.focused::after {
    width: 100%;
  }

  &.focused .form-label {
    color: $color-purple;
  }

  &.focused .form-control {
    caret-color: $color-purple;
  }

  &.disabled .form-control-wrapper {
    border-bottom-color: $color-gray-light;
    cursor: not-allowed;
  }

  &.disabled .form-control,
  &.disabled .form-control-float-label {
    cursor: not-allowed;
  }

  &.disabled .form-label,
  &.disabled .form-control-float-label,
  &.disabled .form-control {
    color: $color-gray;
  }
}

%form-control-wrapper-base {
  position: relative;
  width: 100%;

  ::ng-deep .form-icon-error {
    color: $color-red;
    display: none;
    position: absolute;
    right: $space-sm;
    top: 50%;
    transform: translateY(-50%);
    z-index: $zindex-level-1;
  }
}

%form-control-base {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: $color-black;
  font-family: $materialize-font-family;
  font-size: 16px;
  font-weight: $font-weight-regular;
  height: 100%;
  max-width: 100%;
  outline: none;
  padding: $space-sm;
  resize: vertical;
  width: 100%;
}

%form-control-error {
  .form-control-container::after {
    background-color: $color-red;
    width: 100%;
  }

  .form-control-float-label {
    color: $color-red;
  }

  .form-control {
    caret-color: $color-red;
    padding-right: 48px;
  }

  .form-control-wrapper ::ng-deep .form-icon-error {
    display: block;
  }
}

.form-control-float-label {
  background-color: $color-gray-light;
  color: $color-gray-dark;
  cursor: text;
  font-family: $materialize-font-family;
  font-size: 16px;
  font-weight: $font-weight-regular;
  left: 0;
  padding: $space-xs $space-sm $space-xxs;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 250ms ease;
  width: 100%;
  z-index: $zindex-level-1;
}
