$space-xxxs: 4px;
$space-xxs: 6px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 28px;
$space-xxxl: 32px;

$border-sm: 1px;
$border-md: 2px;
$border-lg: 3px;

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-full: 50%;

$icon-xs: 14px;
$icon-sm: 16px;
$icon-md: 18px;
$icon-lg: 20px;
$icon-xl: 22px;

$zindex-level-0: 0;
$zindex-level-1: 10;
$zindex-level-2: 20;
$zindex-level-3: 30;
$zindex-level-4: 40;

$font-family-primary: 'Roboto';
$font-family-secondary: '';
$font-family-icons: 'material-icons';

$font-size-xxxs: 10px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-size-xxxl: 26px;

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-black: 600;
