@import '../../../styles/theme/colors.scss';
@import '../../../styles/theme/fonts.scss';
@import '../../../styles/theme/metrics.scss';

.button-toggle-container {
  border-radius: $radius-sm;
  display: flex;
  flex-direction: row;
  width: max-content;

  &.disabled {
    background-color: $color-gray-light;

    .button-toggle-item {
      cursor: not-allowed;
    }
  }
}

.button-toggle-item {
  align-items: center;
  border-bottom: $border-sm solid $color-gray-light;
  border-top: $border-sm solid $color-gray-light;
  cursor: pointer;
  display: flex;
  padding: $space-sm $space-md;

  &:first-child {
    border-left: $border-sm solid $color-gray-light;
    border-radius: $radius-sm 0 0 $radius-sm;
  }

  &:last-child {
    border-radius: 0 $radius-sm $radius-sm 0;
    border-right: $border-sm solid $color-gray-light;
  }

  &:hover {
    background-color: $color-gray-light;
  }

  &.active {
    background-color: $color-gray;
  }
}

.button-toggle-icon {
  margin-right: $space-sm;
}

.button-toggle-content {
  font-size: $font-size-sm;
}
