@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.button-toggle {
  align-items: center;
  border-bottom: $border-sm solid $color-gray-light;
  border-top: $border-sm solid $color-gray-light;
  cursor: pointer;
  display: flex;
  padding: $space-sm $space-md;

  &.disabled {
    background-color: $color-gray-light;
  }

  &:hover {
    background-color: $color-gray-light;
  }

  &.active {
    background-color: $color-gray;
  }
}
