<custom-form-group [iconName]="iconName" [className]="className">
  <div class="form-field-container"
    [class.float-label]="floatLabel && label"
    [class.active]="value || placeholder"
    [class.focused]="isFocused"
    [class.disabled]="disabled"
    [class.error]="!isValid && isTouched">

    <label class="form-label" *ngIf="label">{{ label }}</label>

    <div class="form-control-wrapper">
      <input class="form-control"
        (input)="onInputChange($event)"
        (blur)="onInputBlur($event)"
        (focus)="onInputFocus()"

        [autocomplete]="autocomplete"
        [disabled]="disabled"
        [maxLength]="maxLength"
        [placeholder]="placeholder"
        [required]="required"
        [type]="type"
        [value]="value"
      />

      <custom-icon name="error" *ngIf="!isValid && isTouched" size="lg"></custom-icon>

      <div class="form-error-message" *ngIf="!isValid && isTouched">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  
</custom-form-group>
