<div class="form-control-select" [class.open]="isFocused">
  <div #backdrop *ngIf="isFocused" class="form-select-backdrop"></div>

  <div class="form-control-container"
    tabindex="1"

    (click)="onClick($event)"

    [ngClass]="className"
    [class.float-label]="floatLabel"
    [class.active]="value || placeholder"
    [class.focused]="isFocused"
    [class.disabled]="disabled">
    <div class="form-control-wrapper">
      <div class="form-control-float-label">{{ floatLabel }}</div>
      <div class="form-control" #labelContainer>&nbsp;</div>
      <materialize-icon className="form-icon-error" name="error" size="lg"></materialize-icon>
    </div>

    <materialize-icon className="form-control-select-icon" name="arrow_drop_down" size="lg"></materialize-icon>
  </div>

  <div class="form-control-select-menu">
    <ng-content select="materialize-select-option"></ng-content>
  </div>
</div>

  <!-- <select
    (blur)="onSelectBlur()"
    (change)="onSelectChange($event)"
    [disabled]="disabled"
    [name]="name"
    [required]="required"
    [value]="value">
    <option [value]="option.value" *ngFor="let option of options">
      {{ option.content }}
    </option>
  </select> -->
