@import '../common/styles/forms.scss';

.form-control {
  @extend %form-control-base;
}

.form-control-wrapper {
  @extend %form-control-wrapper-base;
}

.form-control-container {
  @extend %form-control-container-base;
}

.select-container {
  cursor: pointer;

  .form-control {
    position: relative;

    &::before {
      border-color: $color-gray-dark transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      content: '';
      position: absolute;
      right: $space-sm;
      top: 18px;
      transition: transform 250ms ease;
    }
  }

  &.float-label .form-float-label {
    cursor: pointer;
  }

  &.focused .form-control::before {
    transform: rotate(180deg);
  }

  &.error {
    .form-control::before {
      border-top-color: $color-red;
    }

    .icon-error {
      right: $space-xxl;
    }
  }

  &.disabled .form-control::before {
    border-bottom-color: $color-gray;
    border-top-color: $color-gray;
  }
}

.select-menu {
  background: $color-white;
  box-shadow: $shadow-md;
  cursor: pointer;
  display: none;
  left: 0;
  padding: $space-xs 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-level-2;

  &.open {
    display: block;
  }
}

.select-muenu-option {
  color: $color-gray-dark;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  min-height: 46px;
  outline: none;
  padding: $space-md $space-sm;

  &:hover {
    background-color: $color-gray-light;
  }

  &.active {
    background-color: rgba($color-purple, 0.1);
  }
}
