<div class="form-field-container select-container"
  tabindex="0"

  (focus)="openMenu()"
  (blur)="closeMenu()"
  (click)="openMenu()"

  [ngClass]="className"
  [class.active]="isFocused || (selectedOption && selectedOption.content)"
  [class.disabled]="disabled"
  [class.focused]="isFocused"
  [class.float-label]="floatLabel"
  [class.error]="!isValid && isTouched">

  <label class="form-label" *ngIf="label">{{ label }}</label>

  <div class="form-control-wrapper">
    <span class="form-float-label" *ngIf="floatLabel">{{ floatLabel }}</span>

    <div class="form-control-container">
      <div class="form-control-input" [id]="id">{{ selectedOption ? selectedOption.content : '' }}</div>

      <materialize-icon className="form-icon-error"
        name="error"
        size="lg"
        *ngIf="!isValid && isTouched">
      </materialize-icon>
    </div>
  </div>

  <div class="select-menu" [class.open]="isFocused">
    <div class="select-option" *ngFor="let option of options" [class.active]="value === option.value" (click)="selectOption($event, option)">
      {{ option.content }}
    </div>
  </div>

  <div class="form-error-message" *ngIf="!isValid && isTouched">{{ errorMessage }}</div>
</div>

  <!-- <select
    (blur)="onSelectBlur()"
    (change)="onSelectChange($event)"
    [disabled]="disabled"
    [name]="name"
    [required]="required"
    [value]="value">
    <option [value]="option.value" *ngFor="let option of options">
      {{ option.content }}
    </option>
  </select> -->
