.#{$prefix}-button {
  background: $button-primary-background;
  border: $button-primary-border;
  border-radius: $button-primary-border-radius;
  box-shadow: $button-primary-box-shadow;
  color: $button-primary-color;
  cursor: $button-primary-cursor;
  font-family: $button-primary-font-family;
  font-size: $button-primary-font-size;
  font-weight: $button-primary-font-weight;
  height: $button-primary-height;
  margin: $space-none;
  outline: $button-primary-outline;
  padding: $button-primary-padding;
  -webkit-tap-highlight-color: $button-primary-tap-highlight-color;
  text-align: $button-primary-text-align;
  text-transform: $button-primary-text-transform;
  transition: $button-primary-transition;
  white-space: $button-primary-white-space;
  width: $button-primary-width;

  &:hover {
    background-color: $button-primary-hover-background-color;
  }

  &.focused {
    background-color: $button-primary-focused-background-color;
  }

  &[disabled] {
    background-color: $button-primary-disabled-background-color;
    box-shadow: $button-primary-disabled-box-shadow;
    color: $button-primary-disabled-color;
    cursor: $button-primary-disabled-cursor;
  }

  .ripple {
    background-color: $button-primary-ripple-background-color;
  }
}
