@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.calendar-container {
  background-color: $materialize-color-white;
  border-radius: $materialize-radius-sm;
  box-shadow: $materialize-shadow-md;
  outline: none;
  overflow: hidden;
  width: 300px;
}

.calendar-header-container {
  background-color: $materialize-color-purple;
  color: $materialize-color-white;
  font-family: $materialize-font-family-primary;
  padding: $materialize-space-sm;
}

.calendar-header-selected-year {
  display: block;

  ::ng-deep .button {
    box-shadow: unset;
    margin: 0;
    padding: $materialize-space-xxs;

    .button-text {
      font-size: 15px;
    }
  }
}

.calendar-header-selected-date {
  ::ng-deep .button {
    box-shadow: unset;
    padding: $materialize-space-xxs;
    text-transform: unset;

    .button-text {
      font-size: 28px;
      font-weight: $materialize-font-weight-light;
      margin: 0 $materialize-space-xxxs;
    }
  }
}

.calendar-body-container {
  height: 330px;
  padding: $materialize-space-sm $materialize-space-xs;
}

.calendar-controls-container {
  align-items: center;
  display: flex;
  margin-bottom: $materialize-space-xs;
}

.calendar-month-label {
  flex-grow: 1;
  font-family: $materialize-font-family-primary;
  font-size: 16px;
  font-weight: $materialize-font-weight-regular;
  text-align: center;
}

.calendar-month-control {
  flex-grow: 0;

  ::ng-deep .button {
    background-color: $materialize-color-white;
    box-shadow: unset;
    color: $materialize-color-gray-dark;
    padding: $materialize-space-xs $materialize-space-xxxs;

    .button-icon {
      font-size: 22px;
    }

    .ripple {
      background-color: rgba($materialize-color-black, 0.1);
    }
  }
}

.calendar-table {
  width: 100%;
}

.calendar-day-label-container {
  color: $materialize-color-gray;
  font-family: $materialize-font-family-primary;
  font-size: 12px;
  font-weight: $materialize-font-weight-light;
  padding: $materialize-space-xxxs $materialize-space-xxxs $materialize-space-sm;
  text-align: center;
}

.calendar-day-number-container {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

.calendar-day-number {
  align-items: center;
  border-radius: $materialize-radius-full;
  color: $materialize-color-gray-dark;
  cursor: pointer;
  display: flex;
  font-family: $materialize-font-family-primary;
  font-size: 14px;
  font-weight: $materialize-font-weight-regular;
  height: 38px;
  justify-content: center;
  text-align: center;
  transition: background-color 300ms ease;
  width: 38px;

  &:hover {
    background-color: $materialize-color-gray-light;
    border-radius: $materialize-radius-full;
  }

  ::ng-deep .ripple {
    background-color: rgba(lighten($materialize-color-purple, 50%), 0.3);
  }

  &.disabled {
    background-color: $materialize-color-gray-light;
    border-radius: $materialize-radius-full;
    color: $materialize-color-gray-dark;
    cursor: not-allowed;
  }

  &.current {
    border: $theme-border-sm solid $materialize-color-gray;
  }

  &.selected {
    background-color: $materialize-color-purple;
    color: $materialize-color-white;
  }
}

.calendar-years-container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.calendar-year-number {
  cursor: pointer;
  font-family: $materialize-font-family-primary;
  font-size: 16px;
  font-weight: $materialize-font-weight-regular;
  margin: $materialize-space-xxxs 0;
  padding: $materialize-space-sm;
  text-align: center;
  width: 100%;

  &.current {
    color: $materialize-color-purple;
    font-size: 24px;
  }
}
