<div class="calendar-container" tabindex="1" (blur)="onBlur($event)">
  {{ currentMonth }} - {{ currentYear }}
  <div class="calendar-controls-container">
    <materialize-icon
      name="chevron_left"
      size="lg"
      (onClick)="showPrevMonth()"
      [isPointer]="true">
    </materialize-icon>
    <materialize-icon
      name="chevron_right"
      size="lg"
      (onClick)="showNextMonth()"
      [isPointer]="true">
    </materialize-icon>
  </div>
  
  <table class="calendar">
    <thead>
      <tr>
        <td class="day-name-container" *ngFor="let weekDay of weekDays">
          {{ weekDay }}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td class="day-container"
          *ngFor="let day of week"
          [class.current]="day.isCurrent"
          [class.selected]="selectedDay.isoDate === day.isoDate"
          [class.disabled]="day.isOutOfMonth">
          <div class="day-content" (click)="onSelectDay(day)">
            {{ day.dayNumber }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
