<div class="calendar-container" tabindex="1" (blur)="onBlur($event)">
  <div class="calendar-controls-container">
    <materialize-button iconName="chevron_left" iconSize="lg" [isRounded]="true" (onClick)="showPrevMonth()"></materialize-button>

    <div class="calendar-current-date">
      {{ currentMonthLabel.shortName }}, {{ currentYearLabel }}
    </div>

    <materialize-button iconName="chevron_right" iconSize="lg" [isRounded]="true" (onClick)="showNextMonth()"></materialize-button>
  </div>
  
  <table class="calendar">
    <thead>
      <tr>
        <td class="day-name-container" *ngFor="let day of dayLabels">{{ day.shortestName }}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td class="day-container"
          *ngFor="let day of week"
          [class.current]="day.isCurrent"
          [class.selected]="selectedISODate === day.ISODate"
          [class.disabled]="day.isOutOfMonth">
          <div class="day-content" (click)="onSelectDay(day)" *ngIf="!day.isOutOfMonth || displayOtherMonthDays">
            {{ day.numberInMonth }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
