
<div class="form-field-container"
  [ngClass]="className"
  [class.float-label]="floatLabel"
  [class.active]="value || placeholder"
  [class.focused]="isFocused"
  [class.disabled]="disabled"
  [class.error]="!isValid && isTouched">

  <materialize-label>{{ label }}</materialize-label>

  <div class="form-control-wrapper"
    tabindex="1"

    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    
    #formControlWrapper>
    <div class="form-control-container">
      <materialize-label [isFloat]="true">{{ floatLabel }}</materialize-label>

      <textarea class="form-control-input"
        (input)="onChange($event)"
        (blur)="onBlur($event)"
        (focus)="onFocus($event)"

        [disabled]="disabled"
        [id]="id"
        [maxLength]="maxLength"
        [minLength]="minLength"
        [name]="name"
        [placeholder]="placeholder"
        [required]="required"
        [rows]="rows"
        [value]="value"

        #textArea>
      </textarea>

      <materialize-icon className="form-icon-error"
        name="error"
        size="lg"
        *ngIf="!isValid && isTouched">
      </materialize-icon>
    </div>
  </div>

  <div class="form-message-counter" *ngIf="hasCounter">{{ value.length }} / {{ maxLength }}</div>

  <materialize-error *ngIf="!isValid && isTouched">{{ errorMessage }}</materialize-error>
</div>
