<div class="form-control-container"
  tabindex="1"

  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  
  [ngClass]="className"
  [class.float-label]="floatLabel"
  [class.active]="value || placeholder"
  [class.focused]="isFocused"
  [class.disabled]="disabled"

  #formControlWrapper>

  <div class="form-control-wrapper">
    <div class="form-control-float-label">{{ floatLabel }}</div>

    <textarea class="form-control"
      (input)="onChange($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"

      [disabled]="disabled"
      [id]="id"
      [maxLength]="maxLength"
      [minLength]="minLength"
      [name]="name"
      [placeholder]="placeholder"
      [required]="required"
      [rows]="rows"
      [value]="value"

      #textArea>
    </textarea>

    <materialize-icon className="form-icon-error" name="error" size="lg"></materialize-icon>
  </div>
</div>

<materialize-form-message type="info" *ngIf="hasCounter">{{ value.length }} / {{ maxLength }}</materialize-form-message>
