$button-primary-background: $color-purple !default;
$button-primary-border: $border-none !default;
$button-primary-border-radius: $radius-sm !default;
$button-primary-box-shadow: $shadow-sm !default;
$button-primary-color: $color-white !default;
$button-primary-cursor: $cursor-pointer !default;
$button-primary-display: block !default;
$button-primary-font-family: $font-family-primary !default;
$button-primary-font-size: $font-size-sm !default;
$button-primary-font-weight: $font-weight-regular !default;
$button-primary-height: auto !default;
$button-primary-margin: $space-sm auto !default;
$button-primary-outline: none !default;
$button-primary-padding: $space-sm $space-md !default;
$button-primary-tap-highlight-color: $color-transparent !default;
$button-primary-text-align: center !default;
$button-primary-text-transform: uppercase !default;
$button-primary-transition: $property-background $timer-md $function-ease !default;
$button-primary-white-space: nowrap !default;
$button-primary-width: auto !default;

$button-primary-hover-background-color: lighten($color-purple, 5%) !default;
$button-primary-focused-background-color: lighten($color-purple, 10%) !default;

$button-primary-disabled-background: $color-gray !default;
$button-primary-disabled-box-shadow: none !default;
$button-primary-disabled-color: $color-gray-dark !default;

$button-primary-ripple-background-color: rgba(lighten($color-purple, 50%), 0.2) !default;

$button-outline-background: $color-transparent !default;
$button-outline-border: $border-sm solid $color-gray !default;
$button-outline-border-radius: $radius-sm !default;
$button-outline-color: $color-purple !default;
$button-outline-cursor: $cursor-pointer !default;
$button-outline-display: block !default;
$button-outline-font-family: $font-family-primary !default;
$button-outline-font-size: $font-size-sm !default;
$button-outline-font-weight: $font-weight-regular !default;
$button-outline-height: auto !default;
$button-outline-margin: $space-sm auto !default;
$button-outline-outline: none !default;
$button-outline-padding: $space-sm $space-md !default;
$button-outline-tap-highlight-color: $color-transparent !default;
$button-outline-text-align: center !default;
$button-outline-text-transform: uppercase !default;
$button-outline-transition: $property-background $timer-md $function-ease !default;
$button-outline-white-space: nowrap !default;
$button-outline-width: auto !default;

$button-outline-hover-background-color: rgba($color-purple, 0.05) !default;
$button-outline-focused-background-color: rgba($color-purple, 0.1) !default;

$button-outline-disabled-background: $color-transparent !default;
$button-outline-disabled-border: $border-sm solid $color-gray !default;
$button-outline-disabled-color: $color-gray !default;

$button-outline-ripple-background-color: rgba($color-purple, 0.2) !default;

$button-text-background: $color-transparent !default;
$button-text-border: $border-none !default;
$button-text-border-radius: $radius-sm !default;
$button-text-color: $color-purple !default;
$button-text-cursor: $cursor-pointer !default;
$button-text-display: block !default;
$button-text-font-family: $font-family-primary !default;
$button-text-font-size: $font-size-sm !default;
$button-text-font-weight: $font-weight-regular !default;
$button-text-height: auto !default;
$button-text-margin: $space-sm auto !default;
$button-text-outline: none !default;
$button-text-padding: $space-sm $space-md !default;
$button-text-tap-highlight-color: $color-transparent !default;
$button-text-text-align: center !default;
$button-text-text-transform: uppercase !default;
$button-text-transition: $property-background $timer-md $function-ease !default;
$button-text-white-space: nowrap !default;
$button-text-width: auto !default;

$button-text-hover-background-color: rgba($color-purple, 0.05) !default;
$button-text-focused-background-color: rgba($color-purple, 0.1) !default;

$button-text-disabled-background: $color-transparent !default;
$button-text-disabled-color: $color-gray !default;

$button-text-ripple-background-color: rgba($color-purple, 0.2) !default;
