$materialize-button-toggle-group-margin: 0 !default;
$materialize-button-toggle-group-border-color: $materialize-color-purple !default;
$materialize-button-toggle-group-border-radius: $materialize-radius-sm !default;
$materialize-button-toggle-group-border-style: solid !default;
$materialize-button-toggle-group-border-width: $materialize-border-sm !default;
$materialize-button-toggle-group-width: max-content !default;

$materialize-button-toggle-group-disabled-border-color: $materialize-color-gray !default;
