$card-background-color: $color-white !default;
$card-border-radius: $radius-sm !default;
$card-box-shadow: $shadow-sm !default;
$card-color: $color-gray-darkest !default;
$card-cursor: $cursor-pointer !default;
$card-font-family: $font-family-primary !default;
$card-font-size: $font-size-sm !default;
$card-font-weight: $font-weight-regular !default;
$card-margin: $space-none $space-md $space-sm !default;
$card-padding: $space-lg !default;
$card-tap-highlight-color: $color-transparent !default;
$card-transition: $property-box-shadow $timer-sm $function-in !default;

$card-hover-box-shadow: $shadow-md !default;
