$card-background-color: $color-white !default;
$card-border-radius: $radius-sm !default;
$card-box-shadow: $shadow-sm !default;
$card-cursor: $cursor-pointer !default;
$card-font-family: $font-family-primary !default;
$card-font-weight: $font-weight-regular !default;
$card-transition: $property-box-shadow $timer-sm $function-in !default;

$card-hover-box-shadow: $shadow-md !default;
