$checkbox-cursor: $cursor-pointer !default;
$checkbox-outline: none !default;
$checkbox-padding: $space-sm $space-none !default;
$checkbox-tap-highlight-color: $color-transparent !default;

$checkbox-label-color: $color-gray-darkest !default;
$checkbox-label-font-family: $font-family-primary !default;
$checkbox-label-font-size: $font-size-sm !default;
$checkbox-label-font-weight: $font-weight-regular !default;
$checkbox-label-padding: $space-none !default;
$checkbox-label-text-align: left !default;

$checkbox-indicator-background: $color-white !default;
$checkbox-indicator-border: $border-md solid $color-gray-dark !default;
$checkbox-indicator-border-radius: $radius-xs !default;
$checkbox-indicator-margin: $space-none $space-sm !default;
$checkbox-indicator-size: 18px !default;

$checkbox-indicator-arrow-color: $color-white !default;
$checkbox-indicator-arrow-left: 0 !default;
$checkbox-indicator-arrow-size: 13px !default;
$checkbox-indicator-arrow-top: 2px !default;
$checkbox-indicator-arrow-width: $border-md !default;

$checkbox-indicator-active-background: $color-purple !default;
$checkbox-indicator-active-border: $border-md solid $color-purple !default;

$checkbox-indicator-indeterminate-border: $border-md solid $color-white !default;
$checkbox-indicator-indeterminate-height: 0 !default;
$checkbox-indicator-indeterminate-width: 12px !default;

$checkbox-indicator-ripple-border-radius: $radius-full !default;
$checkbox-indicator-ripple-transition: $property-background $timer-sm $function-ease !default;
$checkbox-indicator-ripple-size: 40px !default;
$checkbox-indicator-ripple-background: rgba($color-purple, 0.3) !default;

$checkbox-indicator-active-background: $color-purple !default;
$checkbox-indicator-disabled-active-background: lighten($color-gray-dark, 30%);
$checkbox-indicator-disabled-background: $color-white !default;
$checkbox-indicator-disabled-border: $border-md solid lighten($color-gray-dark, 30%) !default;

$checkbox-indicator-ripple-hover-inactive-background: rgba($color-gray-darkest, 0.1) !default;
$checkbox-indicator-ripple-hover-active-background: rgba($color-purple, 0.2) !default;
$checkbox-indicator-ripple-focused-inactive-background: rgba($color-gray-darkest, 0.05) !default;
$checkbox-indicator-ripple-focused-active-background: rgba($color-purple, 0.1) !default;

$checkbox-ripple-active-background: rgba($color-purple, 0.2) !default;
$checkbox-ripple-background: rgba($color-gray-darkest, 0.2) !default;
