$collapsible-content-background: $color-white !default;
$collapsible-content-color: $color-gray-darkest !default;
$collapsible-content-cursor: $cursor-pointer !default;
$collapsible-content-font-family: $font-family-primary !default;
$collapsible-content-font-size: $font-size-sm !default;
$collapsible-content-font-weight: $font-weight-regular !default;
$collapsible-content-margin: 0 !default;
$collapsible-content-padding: $space-sm !default;
$collapsible-content-transition: $property-max-height $timer-md $function-in !default;
