$collapsible-title-background: $color-white !default;
$collapsible-title-color: $color-gray-darkest !default;
$collapsible-title-cursor: $cursor-pointer !default;
$collapsible-title-font-family: $font-family-primary !default;
$collapsible-title-font-size: $font-size-sm !default;
$collapsible-title-font-weight: $font-weight-regular !default;
$collapsible-title-margin: $space-none !default;
$collapsible-title-padding: $space-sm !default;

$collapsible-title-hover-background: $color-gray-light !default;
