$collapsible-background: $color-white !default;
$collapsible-box-shadow: $shadow-sm !default;
$collapsible-border: 0 !default;
$collapsible-margin: $space-sm $space-none !default;
$collapsible-padding: $space-none !default;
