$form-message-font-family: $font-family-primary !default;
$form-message-font-size: $font-size-sm !default;
$form-message-font-weight: $font-weight-regular !default;
$form-message-letter-spacing: 0 !default;
$form-message-line-height: 100% !default;
$form-message-margin: $space-none !default;
$form-message-padding: $space-sm !default;
$form-message-text-align: left !default;

$form-message-info-color: $color-gray-darkest !default;
$form-message-info-font-family: $form-message-font-family !default;
$form-message-info-font-size: $form-message-font-size !default;
$form-message-info-font-weight: $form-message-font-weight !default;
$form-message-info-letter-spacing: $form-message-letter-spacing !default;
$form-message-info-line-height: $form-message-line-height !default;
$form-message-info-margin: $form-message-margin !default;
$form-message-info-padding: $form-message-padding !default;
$form-message-info-text-align: $form-message-text-align !default;

$form-message-error-color: $color-red !default;
$form-message-error-font-family: $form-message-font-family !default;
$form-message-error-font-size: $form-message-font-size !default;
$form-message-error-font-weight: $form-message-font-weight !default;
$form-message-error-letter-spacing: $form-message-letter-spacing !default;
$form-message-error-line-height: $form-message-line-height !default;
$form-message-error-margin: $form-message-margin !default;
$form-message-error-padding: $form-message-padding !default;
$form-message-error-text-align: $form-message-text-align !default;

$form-message-success-color: $color-blue !default;
$form-message-success-font-family: $form-message-font-family !default;
$form-message-success-font-size: $form-message-font-size !default;
$form-message-success-font-weight: $form-message-font-weight !default;
$form-message-success-letter-spacing: $form-message-letter-spacing !default;
$form-message-success-line-height: $form-message-line-height !default;
$form-message-success-margin: $form-message-margin !default;
$form-message-success-padding: $form-message-padding !default;
$form-message-success-text-align: $form-message-text-align !default;

$form-message-warning-color: $color-yellow !default;
$form-message-warning-font-family: $form-message-font-family !default;
$form-message-warning-font-size: $form-message-font-size !default;
$form-message-warning-font-weight: $form-message-font-weight !default;
$form-message-warning-letter-spacing: $form-message-letter-spacing !default;
$form-message-warning-line-height: $form-message-line-height !default;
$form-message-warning-margin: $form-message-margin !default;
$form-message-warning-padding: $form-message-padding !default;
$form-message-warning-text-align: $form-message-text-align !default;
