$form-control-container-background: $color-gray-light !default;
$form-control-container-border-color: $color-gray-dark !default;
$form-control-container-border-radius: $radius-sm $radius-sm $space-none $space-none !default;
$form-control-container-border-style: solid !default;
$form-control-container-border-width: 0 0 $border-sm 0 !default;
$form-control-container-line-width: 0 !default;
$form-control-container-margin: $space-none !default;
$form-control-container-outiline: none !default;

$form-control-container-line-bottom: -1px !default;
$form-control-container-line-color: $color-purple !default;
$form-control-container-line-height: $border-md !default;
$form-control-container-line-transition: $timer-md $function-ease $property-width !default;
$form-control-container-line-z-index:  $zindex-level-1 !default;

$form-control-color: $color-gray-darkest !default;
$form-control-font-family: $font-family-primary !default;
$form-control-font-size: $font-size-sm !default;
$form-control-font-weight: $font-weight-regular !default;
$form-control-line-height: 100% !default;
$form-control-letter-spacing: 0 !default;
$form-control-padding: $space-sm !default;

$form-control-with-label-padding-top: $space-xl !default;

$form-control-label-background: $color-gray-light !default;
$form-control-label-color: $color-gray-dark !default;
$form-control-label-font-family: $font-family-primary !default;
$form-control-label-font-size: $font-size-sm !default;
$form-control-label-font-weight: $font-weight-regular !default;
$form-control-label-letter-spacing: 0 !default;
$form-control-label-transition-duration: $timer-sm !default;
$form-control-label-transition-function: $function-ease !default;
$form-control-label-transition-property: $property-top $property-font-size !default;
$form-control-label-padding: $space-xs $space-sm $space-xxxs !default;

$form-control-active-label-font-size: $font-size-xxs !default;
$form-control-active-label-top: $space-none !default;

$form-control-focused-container-line-width: 100% !default;
$form-control-focused-label-color: $color-purple !default;
$form-control-focused-caret-color: $color-purple !default;

$form-control-disabled-container-border-color: $color-gray !default;
$form-control-disabled-label-color: $color-gray !default;
$form-control-disabled-color: $color-gray !default;
