$glossary-item-color: $color-gray !default;
$glossary-item-cursor: $cursor-pointer !default;
$glossary-font-weight: $font-weight-regular !default;
$glossary-font-size: $font-size-sm !default;
$glossary-font-family: $font-family-primary !default;
$glossary-item-padding: $space-xs $space-md !default;

$glossary-item-hover-color: $color-gray !default;
$glossary-item-hover-line-background: $color-purple !default;

$glossary-item-active-color: $color-gray-darkest !default;
$glossary-item-active-line-background: $color-purple !default;
