$materialize-glossary-item-color: $materialize-color-gray !default;
$materialize-glossary-item-cursor: $materialize-cursor-pointer !default;
$materialize-glossary-font-weight: $materialize-font-weight-regular !default;
$materialize-glossary-font-size: $materialize-font-size-sm !default;
$materialize-glossary-font-family: $materialize-font-family-primary !default;
$materialize-glossary-item-padding: $materialize-space-xs $materialize-space-md !default;

$materialize-glossary-item-line-height: 100% !default;
$materialize-glossary-item-line-width: $materialize-border-md !default;

$materialize-glossary-item-hover-color: $materialize-color-gray !default;
$materialize-glossary-item-hover-line-background: $materialize-color-purple !default;

$materialize-glossary-item-active-color: $materialize-color-gray-darkest !default;
$materialize-glossary-item-active-line-background: $materialize-color-purple !default;
