$materialize-icon-color: $materialize-color-gray-darkest !default;
$materialize-icon-cursor: $materialize-cursor-pointer !default;
$materialize-icon-display: inline-block !default;
$materialize-icon-outline: none !default;
$materialize-icon-text-transform: lowercase !default;
