$materialize-label-color: $materialize-color-purple !default;
$materialize-label-display: block !default;
$materialize-label-font-family: $materialize-font-family-primary !default;
$materialize-label-font-size: $materialize-font-size-xxs !default;
$materialize-label-font-weight: $materialize-font-weight-regular !default;
$materialize-label-margin: $materialize-space-none !default;
$materialize-label-outline: none !default;
$materialize-label-padding: $materialize-space-xs $materialize-space-sm !default;
