$modal-align-items: center !default;
$modal-justify-content: center !default;

$modal-content-background: $color-white !default;
$modal-content-border-radius: $radius-sm !default;
$modal-content-box-shadow: $shadow-lg !default;
$modal-content-max-height: calc(100% - #{ $space-xxxl }) !default;
$modal-content-max-width: calc(100% - #{ $space-xxxl }) !default;
$modal-content-padding: $space-xl !default;
$modal-content-transform: scale(0.8) !default;
$modal-content-transition-property: opacity, transform !default;
$modal-content-transition-function: cubic-bezier(0.17, 0.84, 0.44, 1) forwards !default;

$modal-backdrop-background: rgba($color-black, 0.4) !default;
$modal-backdrop-transition-property: opacity !default;
$modal-backdrop-transition-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;

$modal-icon-close-color: $color-gray-darkest !default;
$modal-icon-close-size: 12px !default;
$modal-icon-close-right: $space-xs !default;
$modal-icon-close-top: $space-xs !default;

$modal-active-content-transform: scale(1) !default;
