$navbar-background: $color-purple !default;
$navbar-color: $color-white !default;
$navbar-box-shadow: $shadow-sm !default;
$navbar-font-family: $font-family-primary !default;
$navbar-font-size: $font-size-md !default;
$navbar-font-weight: $font-weight-regular !default;
$navbar-height: 72px !default;
$navbar-margin: $space-none $space-none $space-sm !default;
$navbar-padding: $space-none $space-xs !default;
