$materialize-navbar-background: $materialize-color-purple !default;
$materialize-navbar-color: $materialize-color-white !default;
$materialize-navbar-box-shadow: $materialize-shadow-sm !default;
$materialize-navbar-font-family: $materialize-font-family-primary !default;
$materialize-navbar-font-size: $materialize-font-size-md !default;
$materialize-navbar-font-weight: $materialize-font-weight-regular !default;
$materialize-navbar-height: 72px !default;
$materialize-navbar-margin: $materialize-space-none $materialize-space-none $materialize-space-sm !default;
$materialize-navbar-padding: $materialize-space-none $materialize-space-xs !default;
