$radio-cursor: $cursor-pointer !default;
$radio-outline: unset !default;
$radio-padding: $space-xxxs $space-none !default;

$radio-label-color: $color-gray-darkest !default;
$radio-label-font-family: $font-family-primary !default;
$radio-label-font-size: $font-size-sm !default;
$radio-label-font-weight: $font-weight-regular !default;
$radio-label-padding: $space-none !default;
$radio-label-text-align: right !default;

$radio-indicator-border: $border-md solid $color-gray-dark !default;
$radio-indicator-border-radius: $radius-full !default;
$radio-indicator-display: inline-block !default;
$radio-indicator-margin: 0 $space-sm !default;
$radio-indicator-outline: none !default;
$radio-indicator-padding: $space-none $space-sm !default;
$radio-indicator-position: relative !default;
$radio-indicator-tap-highlight-color: $color-transparent !default;
$radio-indicator-size: 20px !default;

$radio-indicator-active-border-color: $color-purple !default;
$radio-indicator-active-background: $color-purple !default;
$radio-indicator-active-size: 16px !default;

$radio-indicator-disabled-color: $color-gray !default;

$radio-indicator-ripple-background: $color-purple !default;
$radio-indicator-ripple-size: 40px !default;
$radio-indicator-ripple-transition: $property-background $timer-sm $function-ease !default;
