$materialize-slider-margin: 0 !default;
$materialize-slider-padding: $materialize-space-xxxl $materialize-space-xl $materialize-space-xxl !default;
$materialize-slider-tap-highlight-color: $materialize-color-transparent !default;
$materialize-slider-width: $materialize-space-full !default;

$materialize-slider-track-container-cursor: $materialize-cursor-pointer !default;
$materialize-slider-track-container-outline: none !default;
$materialize-slider-track-container-padding: $materialize-space-sm 0 !default;
$materialize-slider-track-container-position: relative !default;
$materialize-slider-track-container-width: $materialize-space-full !default;

$materialize-slider-step-background: $materialize-color-purple !default;
$materialize-slider-step-height: $materialize-space-sm !default;
$materialize-slider-step-position: absolute !default;
$materialize-slider-step-top: 50% !default;
$materialize-slider-step-width: $materialize-border-md !default;
$materialize-slider-step-transform: translate(-50%, -50%);

$materialize-slider-track-background: $materialize-color-purple !default;
$materialize-slider-track-border-radius: $materialize-radius-sm !default;
$materialize-slider-track-height: $materialize-border-lg !default;
$materialize-slider-track-overflow: hidden !default;
$materialize-slider-track-position: relative !default;
$materialize-slider-track-width: $materialize-space-full !default;

$materialize-slider-indicator-container-left: 0 !default;
$materialize-slider-indicator-container-position: absolute !default;
$materialize-slider-indicator-container-top: $materialize-space-half !default;
$materialize-slider-indicator-container-transform: translate(-50%, -50%) !default;
$materialize-slider-indicator-container-transition:
$materialize-property-left $materialize-timer-md $materialize-function-out !default;
$materialize-slider-indicator-container-z-index: $materialize-zindex-level-1 !default;

$materialize-slider-labels-container-position: relative !default;
$materialize-slider-labels-container-width: $materialize-space-full !default;

$materialize-slider-invalid-track-background: $materialize-color-red !default;
$materialize-slider-invalid-step-background: $materialize-color-red !default;

$materialize-slider-disabled-track-background: $materialize-color-gray !default;
$materialize-slider-disabled-step-background: $materialize-color-gray !default;
