$materialize-slider-option-color: $materialize-color-gray-darkest !default;
$materialize-slider-option-font-family: $materialize-font-family-primary !default;
$materialize-slider-option-font-size: $materialize-font-size-sm !default;
$materialize-slider-option-font-weight: $materialize-font-weight-regular !default;
$materialize-slider-option-height: auto !default;
$materialize-slider-option-left: $materialize-space-none !default;
$materialize-slider-option-position: absolute !default;
$materialize-slider-option-text-align: center !default;
$materialize-slider-option-text-transform: none !default;
$materialize-slider-option-top: $materialize-space-none !default;
$materialize-slider-option-transform: translateX(-50%) !default;
$materialize-slider-option-transition:
$materialize-property-font-size $materialize-timer-sm $materialize-function-ease !default;
$materialize-slider-option-width: auto !default;

$materialize-slider-option-active-font-weight: $materialize-font-weight-bold !default;
$materialize-slider-option-active-font-size: $materialize-font-size-md !default;
