$slider-margin: $space-none !default;
$slider-padding: $space-xxxl $space-xl $space-xxl !default;
$slider-tap-highlight-color: $color-transparent !default;
$slider-width: $space-full !default;

$slider-track-container-cursor: $cursor-pointer !default;
$slider-track-container-outline: none !default;
$slider-track-container-padding: $space-sm $space-none !default;
$slider-track-container-position: relative !default;
$slider-track-container-width: $space-full !default;

$slider-step-background: $color-purple !default;
$slider-step-height: $space-sm !default;
$slider-step-position: absolute !default;
$slider-step-top: 50% !default;
$slider-step-width: $border-md !default;
$slider-step-transform: translate(-50%, -50%);

$slider-track-background: $color-purple !default;
$slider-track-border-radius: $radius-sm !default;
$slider-track-height: $border-lg !default;
$slider-track-overflow: hidden !default;
$slider-track-position: relative !default;
$slider-track-width: $space-full !default;

$slider-indicator-container-left: $space-none !default;
$slider-indicator-container-position: absolute !default;
$slider-indicator-container-top: $space-half !default;
$slider-indicator-container-transform: translate(-50%, -50%) !default;
$slider-indicator-container-transition: $property-left $timer-md $function-out !default;
$slider-indicator-container-z-index: $zindex-level-1 !default;

$slider-labels-container-position: relative !default;
$slider-labels-container-width: $space-full !default;

$slider-invalid-track-background: $color-red !default;
$slider-invalid-step-background: $color-red !default;

$slider-disabled-track-background: $color-gray !default;
$slider-disabled-step-background: $color-gray !default;
