$slider-option-color: $color-gray-darkest !default;
$slider-option-font-family: $font-family-primary !default;
$slider-option-font-size: $font-size-sm !default;
$slider-option-font-weight: $font-weight-regular !default;
$slider-option-height: auto !default;
$slider-option-left: $space-none !default;
$slider-option-position: absolute !default;
$slider-option-text-align: center !default;
$slider-option-text-transform: none !default;
$slider-option-top: $space-none !default;
$slider-option-transform: translateX(-50%) !default;
$slider-option-transition: $property-font-size $timer-sm $function-ease !default;
$slider-option-width: auto !default;

$slider-option-active-font-weight: $font-weight-bold !default;
$slider-option-active-font-size: $font-size-md !default;
