$spinner-animation: spinner 0.75s linear infinite;
$spinner-border-size: 4px;
$spinner-color: map-get($colors, 'primary');
$spinner-size: 32px;

$spinner-primary-border-color: map-get($colors, 'primary') !default;
$spinner-secondary-border-color: map-get($colors, 'secondary') !default;
$spinner-success-border-color: map-get($colors, 'success') !default;
$spinner-danger-border-color: map-get($colors, 'danger') !default;
$spinner-warning-border-color: map-get($colors, 'warning') !default;
$spinner-info-border-color: map-get($colors, 'info') !default;
$spinner-light-border-color: map-get($colors, 'white') !default;
$spinner-dark-border-color: map-get($colors, 'black') !default;
