$tab-group-align-items: flex-start !default;
$tab-group-border-color: $color-gray !default;
$tab-group-border-style: solid !default;
$tab-group-border-width: 0 0 $border-sm 0 !default;
$tab-group-margin: 0 0 $space-lg !default;
$tab-group-padding: 0 !default;

$tab-group-item-border-radius: 0 !default;
$tab-group-item-color: $color-gray-darkest !default;
$tab-group-item-cursor: $cursor-pointer !default;
$tab-group-item-font-family: $font-family-primary !default;
$tab-group-item-font-size: $font-size-sm !default;
$tab-group-item-font-weight: $font-weight-medium !default;
$tab-group-item-padding: $space-md $space-lg !default;
$tab-group-item-text-align: center !default;
$tab-group-item-transition: $property-background $timer-md $function-ease !default;

$tab-group-hover-background: $color-gray-light !default;
$tab-group-active-color: $color-purple !default;
$tab-group-disabled-color: $color-gray !default;

$tab-group-indicator-container-bottom: 0 !default;
$tab-group-indicator-container-transition-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

$tab-group-indicator-background: $color-purple !default;
$tab-group-indicator-height: $border-md !default;
$tab-group-indicator-width: 100% !default;
