$materialize-blockquote-font-family: $theme-font-family-primary !default;
$materialize-blockquote-border-color: map-get($theme-colors, 'primary') !default;
$materialize-blockquote-border-size: 5px !default;
$materialize-blockquote-font-color: map-get($theme-colors, 'black') !default;
$materialize-blockquote-font-size: $theme-font-size-md !default;
$materialize-blockquote-font-weight: $theme-font-weight-medium !default;
$materialize-blockquote-line-height: $theme-font-size-xl !default;

$materialize-heading-font-family: $theme-font-family-primary !default;
$materialize-heading-1-font-family: $materialize-heading-font-family !default;
$materialize-heading-2-font-family: $materialize-heading-font-family !default;
$materialize-heading-3-font-family: $materialize-heading-font-family !default;
$materialize-heading-4-font-family: $materialize-heading-font-family !default;
$materialize-heading-5-font-family: $materialize-heading-font-family !default;
$materialize-heading-6-font-family: $materialize-heading-font-family !default;
$materialize-heading-1-font-size: 64px !default;
$materialize-heading-2-font-size: 54px !default;
$materialize-heading-3-font-size: 44px !default;
$materialize-heading-4-font-size: 34px !default;
$materialize-heading-5-font-size: 24px !default;
$materialize-heading-6-font-size: 18px !default;
$materialize-heading-font-weight: $theme-font-weight-medium !default;
$materialize-heading-1-font-weight: $theme-font-weight-medium !default;
$materialize-heading-2-font-weight: $theme-font-weight-medium !default;
$materialize-heading-3-font-weight: $theme-font-weight-medium !default;
$materialize-heading-4-font-weight: $theme-font-weight-medium !default;
$materialize-heading-5-font-weight: $theme-font-weight-medium !default;
$materialize-heading-6-font-weight: $theme-font-weight-medium !default;
