$blockquote-font-family: $font-family-primary !default;
$blockquote-border-color: map-get($colors, 'primary') !default;
$blockquote-border-size: 5px !default;
$blockquote-font-color: map-get($colors, 'black') !default;
$blockquote-font-size: $font-size-sm !default;
$blockquote-font-weight: $font-weight-medium !default;
$blockquote-line-height: $font-size-xxl !default;

$heading-font-family: $font-family-primary !default;
$heading-1-font-family: $heading-font-family !default;
$heading-2-font-family: $heading-font-family !default;
$heading-3-font-family: $heading-font-family !default;
$heading-4-font-family: $heading-font-family !default;
$heading-5-font-family: $heading-font-family !default;
$heading-6-font-family: $heading-font-family !default;
$heading-1-font-size: 64px !default;
$heading-2-font-size: 54px !default;
$heading-3-font-size: 44px !default;
$heading-4-font-size: 34px !default;
$heading-5-font-size: 24px !default;
$heading-6-font-size: 18px !default;
$heading-font-weight: $font-weight-medium !default;
$heading-1-font-weight: $font-weight-medium !default;
$heading-2-font-weight: $font-weight-medium !default;
$heading-3-font-weight: $font-weight-medium !default;
$heading-4-font-weight: $font-weight-medium !default;
$heading-5-font-weight: $font-weight-medium !default;
$heading-6-font-weight: $font-weight-medium !default;
