@import '../common/styles/colors.scss';

:host.ng-touched.ng-dirty.ng-invalid .form-radio-container ::ng-deep {
  .form-radio-indicator {
    border-color: $color-red;

    &:hover .form-radio-indicator-ripple {
      background-color: rgba($color-red, 0.1);
    }

    &.focused .form-radio-indicator-ripple {
      background-color: rgba($color-red, 0.3);
    }

    .ripple {
      background-color: rgba($color-red, 0.3);
    }
  }
}

.form-radio-group-container.indicator-end {
  ::ng-deep .form-radio-control {
    .form-radio-indicator {
      order: 1;
    }

    .form-radio-label-container {
      flex: 1;
      order: 0;
      text-align: right;
    }
  }
}
