@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.form-label {
  color: $color-gray-dark;
  display: block;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  outline: none;
  padding: $space-xs $space-sm;
}
