

<div class="dropdown-container">
  <materialize-button className="dropdown-button-icon" (onClick)="onClickIcon()" (onBlur)="onBlurIcon()">
    <!-- TODO -->
  </materialize-button>

  <div class="dropdown-items-container" [class.active]="isFocused" tabindex="1">
    <div class="dropdown-item" *ngFor="let item of items" (click)="selectItem(item)">
      <materialize-icon
        *ngIf="item.iconName"
        className="dropdown-item-icon"
        size="lg"
        [name]="item.iconName">
      </materialize-icon>
      {{ item.text }}
    </div>
  </div>
</div>
