@import '../../../styles/theme/colors.scss';
@import '../../../styles/theme/fonts.scss';
@import '../../../styles/theme/metrics.scss';
@import '../../../styles/theme/shadows.scss';

.dropdown-container {
  position: relative;
}

.dropdown-button-icon {
  background-color: $color-white;
  color: $color-gray-dark;
  cursor: pointer;
  display: inline-block;
  outline: none;

  &:hover,
  &:focus {
    background-color: $color-gray-light;
  }
}

.dropdown-items-container {
  background-color: $color-white;
  border-radius: $radius-sm;
  box-shadow: $shadow-md;
  display: none;
  margin-top: $space-xs;
  outline: none;
  padding: $space-xs 0;
  position: absolute;
  top: 100%;
  z-index: $zindex-level-1;

  &.active {
    display: block;
  }
}

.dropdown-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $font-size-xs;
  padding: $space-md $space-lg;

  &:hover {
    background-color: $color-gray-light;
  }
}

.dropdown-item-icon {
  margin-right: $space-sm;
}
