<div class="form-checkboxes-list-container"
  [ngClass]="className"
  [class.error]="!isValid && isTouched">
  <label class="form-label" *ngIf="label">{{ label }}</label>

  <custom-checkbox
    (onChange)="onChangeAll($event)"
    [label]="checkAllLabel"
    [indeterminate]="!checkAllValue"
    [value]="checkAllValue">
  </custom-checkbox>

  <div class="form-checkboxes-list-item" *ngFor="let item of items">
    <custom-checkbox
      (onChange)="onChangeCheckbox($event, item)"
      [disabled]="item.disabled"
      [label]="item.label"
      [value]="item.value"
    >
    </custom-checkbox> 
  </div>
  <div class="form-error-message" *ngIf="!isValid && isTouched">{{ errorMessage }}</div>
</div>
