<custom-form-group [iconName]="iconName" [className]="className">
  <div class="form-field-container form-file-container"
    [class.float-label]="floatLabel && label"
    [class.active]="value.length"
    [class.focused]="isFocused"
    [class.disabled]="disabled"
    [class.error]="!isValid && isTouched">
    
    <label class="form-label"
      tabindex="1"
      *ngIf="label"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)">
      {{ label }}
    </label>

    <div class="form-control-wrapper">
      <div class="form-control">
        <span *ngFor="let item of value">{{ item.name }}</span>
        <input type="file"
          (change)="onChange($event)"
          (blur)="onBlur()"
          (focus)="onFocus()"
          
          [accept]="accept"
          [disabled]="disabled"
          [id]="id"
          [multiple]="isMultiple"
          [name]="name"
          [required]="required" />
      </div>

      <div class="form-error-message" *ngIf="!isValid && isTouched">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</custom-form-group>

<!-- <div class="form-file-files-container">
  <div class="form-file-files-item" *ngFor="let item of value">
    <span class="file-name">{{ item.name }} {{ item.size }}KB</span>

    <div class="form-file-files-item-image">
      <img [src]="item.file" *ngIf="item.type.includes('image')" />
      <video controls *ngIf="!item.type.includes('image')">
        <source [src]="item.file" />
      </video>
    </div>

    <custom-icon name="delete" (onClick)="removeFile(key)"></custom-icon>
  </div>
</div> -->
