@import '../common/styles/colors.scss';
@import '../common/styles/metrics.scss';

.form-message {
  display: block;
  font-family: $font-family-primary;
  font-size: $font-size-xxs;
}

.error {
  color: $color-red;
  font-weight: $font-weight-regular;
}

.info {
  font-weight: $font-weight-light;
  text-align: right;
}
