$materialize-color-gray-light: #F4F3F4;
$materialize-color-gray: #DCDBDC;
$materialize-color-gray-dark: #6A6A6A;
$materialize-color-gray-darkest: #232F34;

$theme-color-primary: #5707EB !default;
$theme-color-secondary: #03DAC6 !default;
$theme-color-success: #28A745 !default;
$theme-color-danger: #A22027 !default;
$theme-color-warning: #FFC107 !default;
$theme-color-info: #17A2B8 !default;
$theme-color-black: #000000 !default;
$theme-color-white: #FFFFFF !default;
$theme-color-gray-80: #CCCCCC !default;
$theme-color-gray-60: #999999 !default;
$theme-color-gray-40: #666666 !default;
$theme-color-gray-20: #333333 !default;

$theme-colors: (
  'primary': $theme-color-primary,
  'secondary': $theme-color-secondary,
  'success': $theme-color-success,
  'danger': $theme-color-danger,
  'warning': $theme-color-warning,
  'info': $theme-color-info,
  'black': $theme-color-black,
  'white': $theme-color-white,
  'gray-80': $theme-color-gray-80,
  'gray-60': $theme-color-gray-60,
  'gray-40': $theme-color-gray-40,
  'gray-20': $theme-color-gray-20
);
