$materialize-font-family-primary: 'Roboto' !default;
$materialize-font-family-secondary: 'LiberationMono' !default;

$materialize-font-size-xxxs: 10px;
$materialize-font-size-xxs: 12px;
$materialize-font-size-xs: 14px;
$materialize-font-size-sm: 16px;
$materialize-font-size-md: 18px;
$materialize-font-size-lg: 20px;
$materialize-font-size-xl: 22px;
$materialize-font-size-xxl: 24px;
$materialize-font-size-xxxl: 26px;

$materialize-font-weight-thin: 100;
$materialize-font-weight-light: 200;
$materialize-font-weight-regular: 300;
$materialize-font-weight-medium: 400;
$materialize-font-weight-bold: 500;
$materialize-font-weight-black: 600;
