$space-xxxs: 4px;
$space-xxs: 6px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 28px;
$space-xxxl: 32px;

$border-sm: 1px;
$border-md: 2px;
$border-lg: 3px;

$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-full: 50%;

$icon-xs: 12px;
$icon-sm: 16px;
$icon-md: 20px;
$icon-lg: 24px;
$icon-xl: 28px;

$zindex-level-1: 10;
