$materialize-space-xxxs: 4px;
$materialize-space-xxs: 6px;
$materialize-space-xs: 8px;
$materialize-space-sm: 12px;
$materialize-space-md: 16px;
$materialize-space-lg: 20px;
$materialize-space-xl: 24px;
$materialize-space-xxl: 28px;
$materialize-space-xxxl: 32px;

$materialize-space-none: 0;
$materialize-space-half: 50%;
$materialize-space-full: 100%;
