<custom-form-group [iconName]="_iconName" [className]="_className">
  <div class="form-field-container"
    [class.float-label]="_floatLabel"
    [class.active]="_isFocused || _value.length > 0 || _placeholder"
    [class.focused]="_isFocused"
    [class.disabled]="_disabled">

    <label class="form-label">{{ _label }}</label>

    <textarea class="form-control"
      (blur)="onTextAreaBlur()"
      (focus)="onTextAreaFocus()"
      (input)="onTextAreaChange($event)"

      [disabled]="_disabled"
      [maxLength]="_maxLength"
      [minLength]="_minLength"  
      [placeholder]="_placeholder"
      [required]="_required"
      [value]="_value">
    </textarea>
  </div>
</custom-form-group>
