<div class="input-container">
  <div class="input-icon-container" *ngIf="_iconName">
    <custom-icon [name]="_iconName" size="md"></custom-icon>
  </div>
  <div class="input-field-container"
    [class.float-label]="_floatLabel"
    [class.active]="_isFocused || _value.length > 0 || _placeholder"
    [class.focused]="_isFocused">
    <label class="input-label">{{ _label }}</label>
    <textarea
      (blur)="onTextAreaBlur()"
      (focus)="onTextAreaFocus()"
      (input)="onTextAreaChange($event)"

      [ngClass]="_className"
      [disabled]="_disabled"
      [maxLength]="_maxLength"
      [minLength]="_minLength"  
      [placeholder]="_placeholder"
      [required]="_required"
      [value]="_value">
    </textarea>
  </div>
</div>
