<div class="autocomplete-container" [ngClass]="className">
  <materialize-input 
    (onChange)="onInputChange($event)"
    (onFocus)="onInputFocus($event)"
    (onBlur)="onInputBlur($event)"

    [autocomplete]="autocomplete"
    [disabled]="disabled"
    [floatLabel]="floatLabel"
    [hasCounter]="hasCounter"
    [id]="id"
    [maxLength]="maxLength"
    [name]="name"
    [placeholder]="placeholder"
    [required]="required"
    [type]="type"
    [validateOnBlur]="validateOnBlur"
    [validateOnChange]="validateOnChange"
    [value]="value"

    #materializeInput
  >
  </materialize-input>

  <div class="autocomplete-options-container" [class.open]="isFocused">
    <div class="autocomplete-option"
      *ngFor="let option of options"
      [class.active]="value === option.content"
      (click)="selectOption(option.content)"
      tabindex="1">
      {{ option.content }}
    </div>
  </div>
</div>
