@import '../common/styles/forms.scss';

.autocomplete-container {
  position: relative;
}

.autocomplete-options-container {
  background: $color-white;
  box-shadow: $shadow-md;
  cursor: pointer;
  display: none;
  left: 0;
  padding: $space-xs 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-level-2;

  &.open {
    display: block;
  }
}

.autocomplete-option {
  box-sizing: border-box;
  color: $color-gray-dark;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  outline: none;
  padding: $space-md $space-sm;

  &:hover {
    background-color: $color-gray-light;
  }

  &.active {
    background-color: rgba($color-purple, 0.1);
  }
}
