.badge {
  background-color: $badges-background-color;
  border-radius: $badges-border-radius;
  box-sizing: $badges-box-sizing;
  color: $badges-color;
  display: $badges-display;
  font-family: $badges-font-family;
  font-size: $badges-font-size;
  font-weight: $badges-font-weight;
  line-height: $badges-line-height;
  padding: $space-xxxs;
  text-align: $badges-text-align;
}

.badge-primary {
  background-color: $badge-primary-background-color;
  color: $badge-primary-color;
}

.badge-secondary {
  background-color: $badge-secondary-background-color;
  color: $badge-secondary-color;
}

.badge-success {
  background-color: $badge-success-background-color;
  color: $badge-success-color;
}

.badge-danger {
  background-color: $badge-danger-background-color;
  color: $badge-danger-color;
}

.badge-warning {
  background-color: $badge-warning-background-color;
  color: $badge-warning-color;
}

.badge-info {
  background-color: $badge-info-background-color;
  color: $badge-info-color;
}

.badge-light {
  background-color: $badge-light-background-color;
  color: $badge-light-color;
}

.badge-dark {
  background-color: $badge-dark-background-color;
  color: $badge-dark-color;
}
