.badge {
  background: $materialize-badges-background;
  border-radius: $materialize-badges-border-radius;
  box-sizing: $materialize-badges-box-sizing;
  color: $materialize-badges-color;
  display: $materialize-badges-display;
  font-family: $materialize-badges-font-family;
  font-size: $materialize-badges-font-size;
  font-weight: $materialize-badges-font-weight;
  line-height: $materialize-badges-line-height;
  padding: $materialize-space-xxxs;
  text-align: $materialize-badges-text-align;
}

.badge-primary {
  background: $materialize-badge-primary-background;
  color: $materialize-badge-primary-color;
}

.badge-secondary {
  background: $materialize-badge-secondary-background;
  color: $materialize-badge-secondary-color;
}

.badge-success {
  background: $materialize-badge-success-background;
  color: $materialize-badge-success-color;
}

.badge-danger {
  background: $materialize-badge-danger-background;
  color: $materialize-badge-danger-color;
}

.badge-warning {
  background: $materialize-badge-warning-background;
  color: $materialize-badge-warning-color;
}

.badge-info {
  background: $materialize-badge-info-background;
  color: $materialize-badge-info-color;
}

.badge-light {
  background: $materialize-badge-light-background;
  color: $materialize-badge-light-color;
}

.badge-dark {
  background: $materialize-badge-dark-background;
  color: $materialize-badge-dark-color;
}

.badge-notification {
  display: inline-block;
  margin-right: $materialize-badge-notification-outside-size;
  margin-top: $materialize-badge-notification-outside-size;
  position: relative;
}

.badge-notification[data-badge]::after {
  background: $materialize-badge-notification-background;
  border-radius: 50%;
  color: $materialize-badge-notification-color;
  content: attr(data-badge);
  font-size: $materialize-badge-notification-font-size;
  height: $materialize-badge-notification-size;
  line-height: $materialize-badge-notification-line-height;
  position: absolute;
  right: -$materialize-badge-notification-outside-size;
  text-align: center;
  top: -$materialize-badge-notification-outside-size;
  width: $materialize-badge-notification-size;
}

.badge-notification-primary[data-badge]::after {
  background: $materialize-badge-primary-background;
  color: $materialize-badge-primary-color;
}

.badge-notification-secondary[data-badge]::after {
  background: $materialize-badge-secondary-background;
  color: $materialize-badge-secondary-color;
}

.badge-notification-success[data-badge]::after {
  background: $materialize-badge-success-background;
  color: $materialize-badge-success-color;
}

.badge-notification-danger[data-badge]::after {
  background: $materialize-badge-danger-background;
  color: $materialize-badge-danger-color;
}

.badge-notification-warning[data-badge]::after {
  background: $materialize-badge-warning-background;
  color: $materialize-badge-warning-color;
}

.badge-notification-info[data-badge]::after {
  background: $materialize-badge-info-background;
  color: $materialize-badge-info-color;
}

.badge-notification-light[data-badge]::after {
  background: $materialize-badge-light-background;
  color: $materialize-badge-light-color;
}

.badge-notification-dark[data-badge]::after {
  background: $materialize-badge-dark-background;
  color: $materialize-badge-dark-color;
}
