body {
  .#{$prefix}-text-align-left {
    text-align: left;
  }

  .#{$prefix}-text-align-right {
    text-align: right;
  }

  .#{$prefix}-text-align-center {
    text-align: center;
  }

  .#{$prefix}-clearfix::after {
    clear: both;
    content: '';
    display: block;
  }

  .#{$prefix}-float-left {
    float: left;
  }

  .#{$prefix}-float-right {
    float: right;
  }

  .#{$prefix}-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{$prefix}-text-lowercase {
    text-transform: lowercase;
  }

  .#{$prefix}-text-uppercase {
    text-transform: uppercase;
  }

  .#{$prefix}-text-capitalize {
    text-transform: capitalize;
  }

  .#{$prefix}-font-weight-bold {
    font-weight: $materialize-font-weight-bold;
  }

  .#{$prefix}-font-weight-regular {
    font-weight: $materialize-font-weight-regular;
  }

  .#{$prefix}-font-weight-thin {
    font-weight: $materialize-font-weight-thin;
  }

  .#{$prefix}-font-weight-light {
    font-weight: $materialize-font-weight-light;
  }

  .#{$prefix}-font-weight-medium {
    font-weight: $materialize-font-weight-medium;
  }

  .#{$prefix}-font-weight-black {
    font-weight: $materialize-font-weight-black;
  }

  .#{$prefix}-font-italic {
    font-style: italic;
  }

  .#{$prefix}-img-fluid {
    height: auto;
    width: 100%;
  }
}
