body {
  .text-align-left {
    text-align: left;
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .clearfix::after {
    clear: both;
    content: '';
    display: block;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-lowercase {
    text-transform: lowercase;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .font-weight-bold {
    font-weight: $materialize-font-weight-bold;
  }

  .font-weight-regular {
    font-weight: $materialize-font-weight-regular;
  }

  .font-weight-thin {
    font-weight: $materialize-font-weight-thin;
  }

  .font-weight-light {
    font-weight: $materialize-font-weight-light;
  }

  .font-weight-medium {
    font-weight: $materialize-font-weight-medium;
  }

  .font-weight-black {
    font-weight: $materialize-font-weight-black;
  }

  .font-italic {
    font-style: italic;
  }
}
