.spinner {
  animation: $materialize-spinner-animation;
  border: $materialize-spinner-border-size solid currentColor;
  border-radius: 50%;
  border-right-color: transparent;
  color: $materialize-spinner-color;
  display: inline-block;
  height: $materialize-spinner-size;
  width: $materialize-spinner-size;
}

.spinner-primary {
  color: $materialize-spinner-primary-border-color;
}

.spinner-secondary {
  color: $materialize-spinner-secondary-border-color;
}

.spinner-success {
  color: $materialize-spinner-success-border-color;
}

.spinner-danger {
  color: $materialize-spinner-danger-border-color;
}

.spinner-warning {
  color: $materialize-spinner-warning-border-color;
}

.spinner-info {
  color: $materialize-spinner-info-border-color;
}

.spinner-light {
  color: $materialize-spinner-light-border-color;
}

.spinner-dark {
  color: $materialize-spinner-dark-border-color;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: $materialize-loader-animation;
  background: currentColor;
  border-radius: 50%;
  color: $materialize-loader-color;
  display: inline-block;
  height: $materialize-loader-size;
  opacity: 0;
  width: $materialize-loader-size;
}

.loader-primary {
  color: $materialize-loader-primary-color;
}

.loader-secondary {
  color: $materialize-loader-secondary-color;
}

.loader-success {
  color: $materialize-loader-success-color;
}

.loader-danger {
  color: $materialize-loader-danger-color;
}

.loader-warning {
  color: $materialize-loader-warning-color;
}

.loader-info {
  color: $materialize-loader-info-color;
}

.loader-light {
  color: $materialize-loader-light-color;
}

.loader-dark {
  color: $materialize-loader-dark-color;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }
}
