.#{$materialize-prefix}-table {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, auto));
  min-width: 100%;
}

.#{$materialize-prefix}-thead,
.#{$materialize-prefix}-tbody,
.#{$materialize-prefix}-tr {
  display: contents;
}

.#{$materialize-prefix}-th,
.#{$materialize-prefix}-td {
  font-family: $materialize-table-font-family;
  overflow: hidden;
  padding: map-get($materialize-spacer-values, 'xs')/2 map-get($materialize-spacer-values, 'xs');
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$materialize-prefix}-th {
  background: $materialize-table-header-background;
  color: $materialize-table-header-color;
  font-size: $materialize-table-font-size;
  font-weight: $materialize-table-header-font-weight;
  position: sticky;
  text-align: left;
  top: 0;

  &:last-child {
    border: 0;
  }
}

.#{$materialize-prefix}-td {
  color: #808080;
}

.#{$materialize-prefix}-tr {
  &:nth-child(even) .#{$materialize-prefix}-td {
    background: $materialize-table-row-background;
  }
}
